{{#extend "project" }}
{{#content "title" mode="append"}} - UpChannel{{/content}}
{{#content "body-class" mode="append"}} page-upchannel in-section-upchannel-hero{{/content}}
{{#content "backgrounds" mode="append"}}
<li class="background-upchannel-hero"></li>
<li class="background-upchannel-brand"></li>
<li class="background-upchannel-web"></li>
{{/content}}
{{#content "sections" mode="prepend"}}
<li class="animated-section project-hero section-upchannel-hero" data-section-id="upchannel-hero">
    <div class="content">
        <h1 class="project-title sc-text">UpChannel</h1>
        <div class="project-img-wrapper">
            <img src="/img/upchannel/upchannel-macbook.png" alt="UpChannel">
            <ul class="services">
                <li class="sc-text">Product Naming</li>
                <li class="sc-text">Brand Identity</li>
                <li class="sc-text">UI/UX Design</li>
                <li class="sc-text">Web Development</li>
            </ul>
        </div>
        <p class="project-summary sc-text">Our team worked to rebrand this company to better fit its business direction. UpChannel’s new image gives customers a clear understanding of their product offerings in the mobile industry.</p>
        <div class="blockquote-wrapper">
          <blockquote class="sbd-accent">
              <div class="quote-upper-line sbg-accent"></div>
              <div class="quote-mark sf-svg-accent">{{> "icons/quote.svg"}}</div>
              <div class="quote-lower-line sbg-accent"></div>

              <span class="sc-text">Minimill helped us achieve credibility as a startup by providing a fresh and extensible brand identity that really hit home with our clients. We loved the personal approach and enthusiastic team.</span>
              <cite>
                  <span class="name sc-text">Charlie Hulcher</span>
                  <span class="title sc-text">CTO, UpChannel</span>
                  <span class="photo"><img src="/img/upchannel/head-charlie.png" alt="Charlie"></span>
              </cite>
          </blockquote>
        </div>
    </div>
</li>
<li class="animated-section project-section section-upchannel-brand" data-section-id="upchannel-brand">
    <div class="content">
        <h2 class="h1 sc-text">Rebooting the brand from zero</h2>
        <div class="col-8 col-centered">
            <p class="large sc-text">We set out to create a memorable brand for UpChannel (formerly AppCow) that communicates increased reach and connection within the mobile supply chain. The reinvisioned identity drives home the concept of creating valuable touchpoints between mobile carriers and their customers in a way that distinguishes UpChannel from the personality of their competition.</p>
        </div>
    </div>
    <div class="content">
        <div class="col-12">
            <img class="project-screenshot" src="/img/upchannel/upchannel-logotype.svg" alt="UpChannel Logotype">
            <div class="upchannel-icon-construction">
              <img class="overlay" src="/img/upchannel/upchannel-icon-construction-outline.svg">
              <img class="project-screenshot" src="/img/upchannel/upchannel-icon-construction-alt-outline.svg">
            </div>
        </div>
    </div>
    <div class="full-bleed pattern-trans">
        <div class="content">
          <div class="col-6">
            <img class="project-screenshot" src="/img/upchannel/upchannel-shirt-mens-trans.png" alt="UpChannel Shirt Mens">
          </div>
          <div class="col-6">
              <img class="project-screenshot" src="/img/upchannel/upchannel-shirt-women-trans.png" alt="UpChannel Shirt Mens">
            </div>
        </div>
    </div>
    <div class="content color-blocks">
        <div class="col-12">
            {{> color-block
              name="Deep Sea Blue"
              hex="4747FF"
              class="dark"}}
            {{> color-block
              name="Dark Tan"
              hex="594E4C"
              class="dark"}}
        </div>
        <div class="col-6">
            {{> color-block
              name="Seaweed Green"
              hex="3DD971"
              class="light"}}
        </div>
        <div class="col-6">
            {{> color-block
              name="Medium Tan"
              hex="ACA5A5"
              class="light"}}
        </div>
    </div>
    <div class="content font-stacks">
        <div class="col-12">
            {{#embed "font-stack"
              name="Proxima Nova"
              weight="Bold"
              class="has-16px-descenders" }}
                {{#content "svg"}}
                    {{> "typography/text-upchannel-proximabold.svg" }}
                {{/content}}
            {{/embed}}
            {{#embed "font-stack"
              name="Proxima Nova"
              weight="Regular"}}
                {{#content "svg"}}
                    {{> "typography/text-upchannel-proximaregular.svg" }}
                {{/content}}
            {{/embed}}
        </div>
    </div>
</li>
<li class="animated-section project-section section-upchannel-web" data-section-id="upchannel-web">
    <div class="content">
        <h2 class="h1 sc-text">A bold, dynamic website to incite action</h2>
        <div class="col-8 col-centered">
            <p class="large sc-text">Much of UpChannel’s competition in the mobile supply chain market was represented by stiff user experiences. We agreed on a more punchy experience to inspire potential customers in ways they weren’t used to. The site features big headlines and movement through patterns that encourage activity and conversions.</p>
        </div>
    </div>
    <div class="content">
        <div class="col-12">
            <img class="project-screenshot" src="/img/upchannel/upchannel-screens.png" alt="UpChannel Screens">
        </div>
    </div>
    <div class="content">
        <div class="col-8 col-centered">
            {{#embed "external-link"
                href="http://upchannel.com/"
                iconClass="link"}}
                {{#content "icon"}}{{> "icons/link.svg" }}{{/content}}
                {{#content "h2"}}upchannel.com{{/content}}
            {{/embed}}
        </div>
    </div>
</li>
{{> "footer" class="solid" id="upchannel-footer" }}
{{/content}}
{{/extend}}
