$delay: 0.2s;
$scroll-speed: 0.7s;
$gap: 0s;
$hover-speed: 0.3s;
$page-speed: 0.3s;
$t1: $delay;
$d1: $t1 + $page-speed;
$t2: $d1 + $gap;
$d2: $t2 + $page-speed;
$easing: ease; //cubic-bezier(0.77, 0, 0.175, 1);

@keyframes fade-in {
  0% { opacity: 0; }
  #{$t1/$d1 * 100}% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-in-delay {
  0% { opacity: 0; }
  #{$t2/$d2 * 100}% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes shift {
  0% { transform: 0; }
  100% { transform: translate3d(12rem, 0, 0); }
}

@keyframes slide-up {
  0% { transform: translate3d(0, 30rem, 0); }
  #{$t1/$d1 * 100}% { transform: translate3d(0, 30rem, 0); }
  100% { transform: 0; }
}

$a-fade-in: fade-in $d1 $easing;
$a-slide-up: slide-up $d1 $easing;
$a-upchannel-shift: shift 15s linear infinite;
$a-fade-in-delay: fade-in-delay $d2 $easing;

$t-page-opacity: $page-speed $easing opacity;
$t-page-fill: $page-speed $easing fill;
$t-page-color: $page-speed $easing color;

$t-scroll-opacity: $scroll-speed $easing opacity;
$t-scroll-color: $scroll-speed $easing color;
$t-scroll-background-color: $scroll-speed $easing background-color;
$t-scroll-border-color: $scroll-speed $easing border-color;
$t-scroll-fill: $scroll-speed $easing fill;

$t-hover-color: $hover-speed $easing color;
$t-hover-background-color: $hover-speed $easing background-color;
$t-hover-fill: $hover-speed $easing fill;

