$arrow-label-padding: 0 1rem;

@mixin arrow-link($width) {
  .arrow-tail {
    height: $width;
    width: $width;
  }

  .arrow-label {
    padding: $arrow-label-padding;
  }

  .arrow-shaft {
    flex-grow: 1;
    height: $width;
  }

  .arrow-head {
    box-sizing: border-box;
    height: (3 * $width);
    padding-left: (2 * $width);
    position: relative;
    width: (4 * $width);

    span {
      height: $width;
      position: absolute;
      width: $width;
    }
  }

  .arrow-head-top {
    right: $width;
    top: 0;
  }

  .arrow-head-end {
    right: 0;
    top: $width;
  }

  .arrow-head-bottom {
    right: $width;
    top: (2 * $width);
  }
}

.arrow-link {
  @include arrow-link(4px);
  align-items: center;
  display: flex;
  transition: $t-scroll-opacity;
}

@media screen and (max-width: $phone-landscape-max) {
  .arrow-link {
    @include arrow-link(2px);
    margin: 0 auto;
    max-width: 11rem;
  }

  .arrow-tail {
    flex-grow: 1;
    width: auto;
  }
}
