$arrow-width: 4px;
$arrow-label-padding: 0 1rem;

.arrow-link {
  align-items: center;
  display: flex;
  transition: $t-opacity;
}

.arrow-component {
  background-color: $white;
  transition: $t-background-color;
}

.arrow-tail {
  height: $arrow-width;
  width: $arrow-width;
}

.arrow-label {
  padding: $arrow-label-padding;
}

.arrow-shaft {
  flex-grow: 1;
  height: $arrow-width;
}

.arrow-head {
  box-sizing: border-box;
  height: (3 * $arrow-width);
  padding-left: (2 * $arrow-width);
  position: relative;
  width: (4 * $arrow-width);

  .arrow-component {
    height: $arrow-width;
    position: absolute;
    width: $arrow-width;
  }
}

.arrow-head-top {
  right: $arrow-width;
  top: 0;
}

.arrow-head-end {
  right: 0;
  top: $arrow-width;
}

.arrow-head-bottom {
  right: $arrow-width;
  top: (2 * $arrow-width);
}
