.color-block {
  box-sizing: border-box;
  margin: 2.5rem 0 0;
  padding: 4rem 5.5rem;
  text-align: right;
  width: 100%;

  > div {
    @extend %p;
    transform: translate3d(0, 1rem, 0);
    transition: $t-hover-opacity, $t-hover-transform;

    &:last-child {
      opacity: 0;
    }
  }

  &:hover {
    > div {
      transform: none;

      &:last-child {
        opacity: 1;
      }
    }
  }

  &.dark > div {
    color: rgba($white, 0.5);
  }

  &.light > div {
    color: rgba($black, 0.5);
  }

  &.with-border.dark {
    border: 1px solid rgba($white, 0.5);
  }

  &.with-border.light {
    border: 1px solid rgba($black, 0.5);
  }
}

@media screen and (max-width: $tablet-portrait-max) {
  .color-block {
    height: 5rem;
    margin: 1rem 0 0;
    padding: 2rem;

    > div {
      display: inline-block;
      line-height: 1;
      opacity: 1;
      transform: none;

      &:first-child {
        float: left;
        text-align: left;
      }

      &:last-child {
        float: right;
        opacity: 1;
        text-align: right;
      }
    }
  }
}

@media screen and (max-width: $phone-landscape-max) {
  .color-block {
    height: 3rem;
    padding: 1rem;
  }
}
