$blue: #3399FF;
$white: #FFFFFF;
$light-gray: #F2F2F2;
$medium-gray: #CCCCCC;
$dark-gray: #999999;
$black: #222222;
$true-black: #000000;
$green: #2FEDAD;

$redspread-red: #FF351A;
$redspread-dark-blue: #0D7280;
$redspread-blue: #13ABBF;
$redspread-light-red: #FFF6F5;
$redspread-light-blue: #F0F9FA;
$redspread-white: #FFFFFF;
$redspread-gray: #F9F9F9;
$redspread-dark-gray: #666666;
$redspread-black: #333333;

$kpcb-green: #3BB780;
$kpcb-white: #FFFFFF;
$kpcb-black: #222222;
$kpcb-light-gray: #EEEEEE;

$fin-black: #1D2933;
$fin-blue: #417ABA;
$fin-white: #FFFFFF;
$fin-light-blue: #B2D9FF;

$wac-yellow: #FFDD33;
$wac-black: #111111;
$wac-white: #FFFFFF;
$wac-blue: #00ACE6;
$wac-gray: #777777;

$upchannel-white: #FFFFFF;
$upchannel-blue: #4747FF;
$upchannel-light-tan: #F2EBE6;
$upchannel-dark-tan: #594E4C;
$upchannel-green: #3DD971;

$redspread-red: #FF351A;
$redspread-white: #FFFFFF;
$redspread-pink: #FFDFDD;

$unscan-gold: #F7D693;
$unscan-black: #222222;
$unscan-blue: #6998C3;
$unscan-white: #FFFFFF;

$twitter-blue: #55ACEE;
$github-blue: #4183C4;
$facebook-blue: #3B5998;
$dribbble-pink: #EA4C89;
