$blue: #3399FF;
$white: #FFFFFF;
$light-gray: #F2F2F2;
$medium-gray: #CCCCCC;
$dark-gray: #999999;
$black: #222222;
$green: #2FEDAD;

$fin-black: #1D2933;
$fin-blue: #417ABA;
$fin-white: #FFFFFF;
$fin-light-blue: #B2D9FF;

$wac-yellow: #FFDD33;
$wac-black: #111111;
$wac-blue: #00ACE6;

$upchannel-white: #FFFFFF;
$upchannel-black: #594E4C;
$upchannel-blue: #4747FF;

$redspread-red: #FF351A;
$redspread-white: #FFFFFF;
$redspread-pink: #FFDFDD;

$unscan-gold: #F7D693;
$unscan-black: #222222;
$unscan-blue: #6998C3;

$twitter-blue: #55ACEE;
$github-blue: #4183C4;
$facebook-blue: #3B5998;
$dribbble-pink: #EA4C89;
