.contact {
  background-color: $green;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: $t-scroll-opacity;
  width: 100%;
  z-index: 0;

  &.active {
    z-index: 1000;
  }

  &.visible {
    opacity: 1;
  }

  .close-button {
    display: block;
    margin-bottom: 4rem;
  }

  .social-links {
    margin-top: 4rem;

    li {
      display: inline-block;
      margin-right: 2.5rem;
      text-align: center;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  path {
    fill: $white;
  }

  .h1 a {
    @include nice-underline($white, 2px, 2.5rem);
  }

  .modal-content {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.contact-modal-open {
  overflow: hidden;
}
