.contact {
  background-color: $green;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: $t-fade-opacity;
  width: 100%;
  z-index: 0;

  &.active {
    z-index: 1000;
  }

  &.visible {
    opacity: 1;
  }

  .close-button {
    display: inline-block;
    margin-bottom: 4rem;
    transition: $t-hover-opacity;

    &:hover {
      opacity: $semi-trans;
    }
  }

  .social-links {
    margin-top: 4rem;

    li {
      display: inline-block;
      margin-right: 2.5rem;
      text-align: center;
      transition: $t-hover-opacity;

      &:hover {
        opacity: $semi-trans;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  path {
    fill: $white;
  }
}

.contact-modal-open {
  overflow: hidden;
}
