.external-link {
  border-style: solid;
  border-top: 0;
  border-width: 1px;
  margin: 9rem 0 0;
  padding: 4rem 5.5rem;
  position: relative;
  text-align: center;

  .icon-line-break {
    display: flex;
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    .link-left-line, .link-right-line {
      height: 1px;
      flex-grow: 1;
    }

    .icon {
      width: 8.5rem;


      svg {
        left: 50%;
        position: absolute;
        top: 50%;
        transition: $t-hover-ease-transform;
      }
    }

  }

  &.github svg {
    height: 2rem;
    width: 2rem;
    margin: -1rem 0 0 -1rem;
  }

  &.quote svg {
    height: 1.25rem;
    width: 2rem;
    margin: -0.625rem 0 0 -1rem;
  }

  &.link svg {
    height: 1.25rem;
    width: 2.5rem;
    margin: -0.625rem 0 0 -1.25rem;
  }

  &.link {
    margin: 13rem 0 6rem;
  }

  &.quote .text cite {
    .photo {
      display: inline-block;
      position: relative;
      margin-right: 2.5rem;
      vertical-align: middle;
      height: 3rem;
      width: 3rem;
    }

    .name, .title {
      display: inline-block;
    }

    .name:after {
      content: ', ';
    }
  }

  h2 + p {
    margin-top: 1rem;
  }
}

a > .external-link:hover .icon svg {
  transform: scale(1.125, 1.125);
}

@media screen and (max-width: $tablet-landscape-max) {
  .external-link {
    margin: 5rem 0 0;

    &.link {
      margin: 9rem 0 4rem;
    }
  }
}

@media screen and (max-width: $phone-landscape-max) {
  .external-link {
    margin: 3.5rem 0 0;
    padding: 2rem;

    .icon-line-break {56
      .icon {
        height: 2rem;
        width: 4rem;
      }
    }

    &.github svg {
      height: 1.5rem;
      width: 1.5rem;
      margin: -0.75rem 0 0 -0.75rem;
    }

    &.quote svg {
      height: 0.9375rem;
      width: 1.5rem;
      margin: -0.46875rem 0 0 -0.75rem;
    }

    &.link svg {
      height: 0.9375rem;
      width: 1.875rem;
      margin: -0.46875rem 0 0 -0.9375rem;
    }

    .text {
      padding: 0;
    }

    &.quote h2 {
      font-size: 1rem;
      text-align: left;
    }

    p {
      font-size: 1rem;
    }

    cite {
      text-align: left;

      .photo {
        position: absolute;
      }

      .name, .title {
        display: block;
      }

      .name:after {
        content: '';
      }
    }
  }
}
