.external-link {
  border-style: solid;
  border-width: 1px;
  border-top-width: 0;
  margin-bottom: 4rem;
  padding: 4rem 5.5rem;
  position: relative;
  text-align: center;

  .link-left-line, .link-right-line {
    height: 1px;
    position: absolute;
    top: 0;
    width: 40%;
  }

  .link-left-line {
    left: 0;
  }

  .link-right-line {
    right: 0;
  }

  .icon {
    border-radius: 50%;
    height: 3rem;
    left: 50%;
    position: absolute;
    top: -1.5rem;
    transform: translate3d(-50%, 0, 0);
    width: 3rem;

    svg {
      height: 100%;
      transition: $t-hover-transform;
      width: 100%;
    }
  }

  h3 {
    color: $blue;
    margin-bottom: 0.5rem;
  }

  &:hover {
    .icon svg{
      transform: scale(1.25, 1.25);
    }
  }
}

@media screen and (max-width: $phone-landscape-max) {
  .external-link {
    margin-bottom: 2rem;
    padding: 2.5rem 2rem 2rem;

    .link-left-line, .link-right-line {
      width: 35%;
    }

    .icon {
      height: 2rem;
      top: -1rem;
      width: 2rem;
    }

    .text {
      padding: 0;
    }
  }
}
