footer {
  background-color: $dark-gray;
  padding: 8rem 0;

  p, a {
    @include clearfix;
    color: $medium-gray;
    transition: 0.3s ease color;
  }

  rect, polygon, path {
    fill: $medium-gray;
    transition: 0.3s ease fill;
  }

  .logo > svg {
    height: $logo-height;
  }

  .icon {
    box-sizing: border-box;
    display: inline-block;
    float: left;
    height: 1.5rem;
    padding: 0.25rem 0.5rem 0.25rem 0;

    > svg {
      display: block;
      height: 1rem;
      width: 1rem;
    }
  }

  .icon-label {
    display: inline-block;
    float: left;
  }

  .email-button {
    border: 1px solid $medium-gray;
    display: block;
    height: $logo-height;
    line-height: $logo-height;
    text-align: center;
    transition: 0.3s ease color, 0.3s ease border-color;
    vertical-align: middle;
  }

  &:hover {
    p, a {
      color: $light-gray;

      &:hover {
        color: $white;
      }
    }

    rect, polygon, path {
      fill: $light-gray;
    }

    svg:hover {
      rect, polygon, path {
        fill: $white;
      }
    }

    .email-button {
      border-color: $light-gray;

      &:hover {
        border-color: $white;
      }
    }
  }
}
