$content-width: 66rem;

@mixin column {
  box-sizing: border-box;
  float: left;
  padding: 0 1.25rem;
}

.content {
  @include clearfix;
  margin: 0 auto;
  max-width: $content-width;
  width: 100%;

  [class^="col-"] {
    @include column;
    display: block;
    float: left;

    &.col-centered {
      float: none;
      margin: 0 auto;
    }

    &.col-right {
      float: right;
    }
  }

  .col-12 {
    width: 100%;
  }

  .col-10 {
    width: 83.333333%;
  }

  .col-8 {
    width: 66.666666%;
  }

  .col-6 {
    width: 50%;
  }

  .col-4 {
    width: 33.333333%;
  }

  .col-3 {
    width: 25%;
  }

  .col-2 {
    width: 16.666666%;
  }

}

@media screen and (max-width: $phone-landscape-max) {
  .content {
    box-sizing: border-box;
    padding: 0 1.5rem;

    > [class^="col"] {
      margin: 0;
      padding: 0;
      width: 100%;

      &.m-col-6 {
        width: 50%;
      }
    }
  }
}
