.content {
  margin: 0 auto;
  max-width: 40rem;
  padding: 8rem 0 0;
  width: 80%;

  .logo, p {
    margin: 0 0 2rem;
  }
}

.logo {
  display: block;
  height: 44px;
  max-width: 100%;

  > svg {
    height: 44px;
    left: 0;

    rect, polygon {
      fill: $white;
    }
  }
}

$large-logo: 66px;
@media screen and (min-width: $xl-desktop-min) {
  .logo {
    height: $large-logo;

    > svg {
      height: $large-logo;
    }
  }
}

$xl-logo: 88px;
@media screen and (min-width: $xxl-desktop-min) {
  .logo {
    height: $xl-logo;

    > svg {
      height: $xl-logo;
    }
  }
}

