/**********************
 * media_queries.scss *
 **********************/

$super-ultra-tiny-flip-phone-max: 240px;
$flip-phone-max: 319px;
$phone-portrait-max: 480px;
$phone-landscape-max: 640px;
$tablet-portrait-min: 641px;
$tablet-portrait-max: 768px;
$tablet-landscape-min: 769px;
$tablet-landscape-max: 1024px;
$desktop-min: 1025px;
$desktop-max: 1440px;
$xl-desktop-min: 1441px;
$xl-desktop-max: 1920px;
$xxl-desktop-min: 1921px;

/**********************
 * Responsive Scaling *
 **********************/

@media screen and (max-width: $xl-desktop-max) {
    html, body {
        font-size: 22px !important;
    }
}

@media screen and (max-width: $desktop-max) {
    html, body {
        font-size: 16px !important;
    }
}

@media screen and (max-width: $phone-landscape-max) {
    html, body {
        font-size: 13px !important;
    }
}
@media screen and (max-width: $phone-portrait-max) {
    html, body {
        font-size: 10px !important;
    }
}
@media screen and (max-width: $flip-phone-max) {
    html, body {
        font-size: 7px !important;
    }
}
@media screen and (max-width: $super-ultra-tiny-flip-phone-max) {
    html, body {
        font-size: 5px !important;
    }
}