$super-ultra-tiny-flip-phone-max: 240px;
$flip-phone-max: 319px;
$phone-portrait-max: 480px;
$phone-landscape-max: 640px;
$tablet-portrait-min: 641px;
$tablet-portrait-max: 768px;
$tablet-landscape-min: 769px;
$tablet-landscape-max: 1024px;
$sm-desktop-min: 1025px;
$sm-desktop-max: 1366px;
$desktop-min: 1367px;
$desktop-max: 1440px;
$lg-desktop-min: 1441px;
$lg-desktop-max: 1600px;
$xl-desktop-min: 1601px;
$xl-desktop-max: 1920px;
$xxl-desktop-min: 1921px;
