$logo-height: 44px;

nav {
  padding: 4rem 0;
  position: absolute;
  width: 100%;
  z-index: 100;

  .minimill-logo {
    rect, polygon {
      fill: $white;
      transition: $t-page-fill;
    }
  }

  .links {
    display: inline-block;
    float: right;
    font-size: 0;
    height: $logo-height;
    transition: $t-page-color;

    li {
      display: inline-block;
      line-height: $logo-height;
      margin-left: 2.5rem;
      vertical-align: middle;
    }

    a {
      @extend %h3;
      transition: $t-hover-opacity;

      &:hover {
        opacity: $semi-trans;
      }
    }
  }

  &.fixed {
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    transform: translate3d(0, -1rem, 0);
    transition: $t-page-opacity, $t-page-transform;
  }
}

.in-section-work-wac,
.page-wac:not([class*="animating-to-"]) > nav,
.animating-to-wac-project > nav {
  color: $wac-black;

  .minimill-logo {
    rect, polygon {
      fill: $wac-black;
    }
  }
}

.in-section-work-upchannel,
.page-upchannel:not([class*="animating-to-"]) > nav,
.animating-to-upchannel-project > nav {
  color: $upchannel-blue;

  .minimill-logo {
    rect, polygon {
      fill: $upchannel-blue;
    }
  }
}

.in-section-work-unscan,
.page-unscan:not([class*="animating-to-"]) > nav,
.animating-to-unscan-project > nav {
  color: $unscan-black;

  .minimill-logo {
    rect, polygon {
      fill: $unscan-black;
    }
  }
}

.minimill-logo {
  display: inline-block;
  height: $logo-height;
  max-width: 100%;

  svg {
    height: $logo-height;
    left: 0;
  }
}

$xl-logo-height: 55px;
@media screen and (min-width: $xl-desktop-min) {
  .minimill-logo, .minimill-logo svg, nav .links {
    height: $xl-logo-height;
  }

  nav .links li {
    line-height: $xl-logo-height;
  }
}

$tablet-logo-height: 33px;
@media screen and (max-width: $tablet-landscape-max) {
  .minimill-logo, .minimill-logo svg, nav .links {
    height: $tablet-logo-height;
  }

  nav .links li {
    line-height: $tablet-logo-height;
  }
}

$phone-logo-height: 22px;
@media screen and (max-width: $phone-landscape-max) {
  .minimill-logo, .minimill-logo svg, nav .links {
    height: $phone-logo-height;
  }

  nav {
    padding: 1.5rem 0;
  }

  nav .links li {
    line-height: $phone-logo-height;
    margin-left: 1rem;
  }
}
