$logo-height: 44px;

nav {
  padding: 4rem 0;
  position: absolute;
  width: 100%;
  z-index: 100;

  .minimill-logo {
    rect, polygon {
      fill: $white;
    }
  }

  .links {
    display: inline-block;
    float: right;
    height: $logo-height;

    li {
      display: inline-block;
      line-height: $logo-height;
      margin-left: 2.5rem;
      vertical-align: middle;
    }

    a {
      @extend %h3;
    }
  }
}

.minimill-logo {
  display: inline-block;
  height: $logo-height;
  max-width: 100%;

  svg {
    height: $logo-height;
    left: 0;
  }
}

$xl-logo-height: 55px;
@media screen and (min-width: $xl-desktop-min) {
  .minimill-logo, .minimill-logo svg, nav .links {
    height: $xl-logo-height;
  }
  nav .links li {
    line-height: $xl-logo-height;
  }
}
