.animating-to-team-page,
.animating-to-home {
  .animated-section {
    opacity: 0;
  }

  body {
    background-color: $blue;
  }

  .backgrounds > li:not(.background-work-hero) {
    opacity: 0;
    transition: $t-page-opacity;
  }

  .backgrounds > .background-work-hero {
    opacity: 1;
  }
}

[class*='animating-to'] {
  .team-hero, .team-white-strip {
    opacity: 0;
    transform: translate3d(0, $slide-up-distance, 0);
  }
}


@each $project in $projects {
  .animating-to-#{$project}-project {

    .fixed {
      opacity: 1;
      pointer-events: auto;
      transform: none;
    }

    .animated-section:not(.section-work-#{$project}) {
      opacity: 0;
    }

    .section-work-#{$project} {
      opacity: 1;

      .arrow-link {
        opacity: 0;
      }
    }

    .backgrounds li:not([class="background-work-#{$project}"]) {
      opacity: 0;
    }

    .background-work-#{$project} {
      opacity: 1;
    }
  }
}
