$quote-height: 8.5rem;

// Components

.project-img-wrapper {
  @include column;
  display: inline-block;
  float: left;
  position: relative;
  width: 66.666666%;
  z-index: 2;

  img {
    margin-bottom: 5rem;
    width: 100%;
  }
}

.project-title {
  margin-top: 2rem;
}

.project-title, .project-summary, .project-arrow {
  box-sizing: border-box;
  display: inline-block;
  float: right;
  margin-bottom: 2rem;
  padding: 0 1.25rem;
  width: 33.333333%;
}

.project-screenshot {
  margin: 8rem 0;
  width: 100%;

  &.with-shadow {
    box-shadow: 0 0 2rem rgba($true-black, 0.25);
  }
}

.project-font-stack {
  align-items: flex-end;
  display: flex;
  margin-top: 8rem;

  + .project-font-stack {
    margin-top: 4rem;
  }

  .font-description {
    width: 20%;

    > p {
      margin: 0;
    }
  }

  .font-img-wrapper {
    position: relative;
    width: 80%;

    .underline {
      bottom: 8px;
      content: ' ';
      display: block;
      height: 1px;
      opacity: 0.25;
      position: absolute;
      width: 500%;
    }
  }

  &.has-16px-descenders {
    .font-img-wrapper img {
      margin-bottom: -16px;
    }
  }

  &.has-12px-descenders {
    .font-img-wrapper img {
      margin-bottom: -12px;
    }
  }

  &.has-8px-descenders {
    .font-img-wrapper img {
      margin-bottom: -8px;
    }
  }
}

// Sections

.project-preview {
  padding: 16rem 0 0;
}

.project-hero {
  padding: 16rem 0 8rem;

  .services {
    @extend %h3;
    @include column;
    animation: $a-fade-in;
    display: inline-block;
    float: left;
    left: 0;
    position: absolute;
    text-align: right;
    top: 100%;
    width: 37.5%;

    li {
      &:after {
        content: '+';
        display: inline;
        padding-left: 0.5rem;

      }
    }
  }

  blockquote {
    @extend %h2;
    @include column;
    animation: $a-fade-in;
    border-bottom: 1px solid $fin-white;
    border-left: 1px solid $fin-white;
    float: right;
    margin-top: -9rem;
    padding: 8.75rem 5.5rem 4rem;
    position: relative;
    width: 66.666666%;
    z-index: 1;

    .quote-upper-line, .quote-lower-line {
      background-color: $white;
      content: ' ';
      display: block;
      position: absolute;
    }

    .quote-upper-line {
      height: 1px;
      left: 0;
      right: ($quote-height / 2);
      top: 0;
    }

    .quote-lower-line {
      bottom: 0;
      right: 0;
      top: ($quote-height / 2);
      width: 1px;
    }

    .quote-mark {
      content: ' ';
      display: block;
      height: $quote-height;
      position: absolute;
      right: - ($quote-height / 2);
      top: - ($quote-height / 2);
      width: $quote-height;

      svg {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }


  cite {
    @extend %p;
    display: block;
    margin-top: 2.5rem;
    padding-left: 5rem;
    position: relative;

    span {
      display: block;
    }

    .subtitle {
      opacity: 0.5;
    }

    .photo {
      height: 3rem;
      left: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      width: 3rem;

      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}

.project-section {
  padding: 8rem 0;

  .h1 {
    margin-bottom: 4rem;
    text-align: center;
  }

  .content > div > p {
    margin-bottom: 4rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: $tablet-landscape-max) {
  .project-title {
    margin: 0 0 1rem;
    width: 50%;
  }

  .project-summary, .project-arrow {
    margin: 0 0 1rem;
    width: 50%;
  }

  .project-img-wrapper {
    width: 50%;

    img {
      margin-bottom: 0;
    }
  }

  .project-preview {
    box-sizing: border-box;
    padding: 12rem 0;
  }

}

@media screen and (max-width: $phone-landscape-max) {

  // Components
  .project-title, .project-summary, .project-arrow {
    display: block;
    float: none;
    padding: 0;
    width: 100%;
  }

  .project-title {
    margin-top: 0;
    text-align: center;
  }

  .project-img-wrapper {
    display: block;
    float: none;
    padding: 0;
    width: 100%;

    img {
      margin-bottom: 2rem;
    }
  }

  .project-screenshot {
    margin-top: 2rem;
  }

  // Sections

  .project-preview {
    min-height: 120vh;

    .project-summary {
      display: none;
    }
  }

  .project-hero {
    padding: 6rem 0 4rem;

    blockquote {
      float: none;
      font-size: 1rem;
      margin-top: 4rem;
      padding: 3rem 2rem 2rem;
      width: 100%;

      &:before {
        display: none;
      }
    }

    cite {
      padding-top: 1rem;

      span {
        display: inline;
      }

      .name:after {
        content: ',';
      }

      .subtitle {
        display: none;
      }

      .photo {
        height: 4rem;
        left: 50%;
        margin-left: -2rem;
        top: -2rem;
        width: 4rem;
      }
    }

    .services {
      display: block;
      float: none;
      margin-bottom: 2rem;
      padding: 0;
      position: relative;
      text-align: center;
      top: auto;
      width: 100%;

      li {
        display: inline-block;

        &:last-child:after {
          display: none;
        }
      }
    }
  }

  .project-section {
    padding: 4rem 0;

    .h1 {
      margin-bottom: 2rem;
      text-align: center;
    }
  }
}
