
// Components

.project-img-wrapper {
  @include column;
  display: inline-block;
  float: left;
  position: relative;
  width: 66.666666%;
  z-index: 2;

  img {
    margin-bottom: 5rem;
  }
}

.project-title {
  margin-top: 2rem;
}

.project-title, .project-summary, .project-arrow {
  box-sizing: border-box;
  display: inline-block;
  float: right;
  margin-bottom: 2rem;
  padding: 0 1.25rem;
  transition: $t-scroll-color;
  width: 33.333333%;
}

.project-screenshot {
  margin-top: 8rem;
}

// Sections

.project-hero, .project-preview {
  padding: 16rem 0 0;

  .services {
    @extend %h3;
    @include column;
    animation: $a-fade-in;
    color: $fin-light-blue;
    display: inline-block;
    float: left;
    position: absolute;
    text-align: right;
    top: 100%;
    width: 37.5%;

    li {
      &:after {
        content: '+';
        display: inline;
        padding-left: 0.5rem;

      }
    }
  }

  blockquote {
    @extend %h2;
    @include column;
    animation: $a-fade-in;
    border: 1px solid $fin-white;
    float: right;
    margin-top: -9rem;
    padding: 4rem 5.5rem;
    position: relative;
    width: 66.666666%;
    z-index: 1;

    &:before {
      background-image: url('../img/icon-quote.svg');
      background-position: top right;
      background-repeat: no-repeat;
      background-size: 2rem 1.25rem;
      content: ' ';
      display: block;
      font-size: 6rem;
      height: 4.75rem;
      line-height: 4rem;
      text-align: right;
    }
  }

  cite {
    @extend %p;
    display: block;
    padding-top: 3rem;

    span {
      display: block;
    }

    .subtitle {
      opacity: 0.5;
    }

    .photo {
      bottom: 2.5rem;
      height: 7.5rem;
      left: -3.75rem;
      overflow: hidden;
      position: absolute;
      width: 7.5rem;

      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}

.project-goal {
  padding: 16rem 0 0;

  .h1 {
    margin-bottom: 4rem;
    text-align: center;
  }
}

.project-related-work {
  padding: 16rem 0 8rem;

  .content > div > p {
    margin-bottom: 4rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: $phone-landscape-max) {

  // Components

  .project-title, .project-summary, .project-arrow {
    float: none;
    display: block;
    padding: 0;
    width: 100%;
  }

  .project-title {
    margin-top: 0;
    text-align: center;
  }

  .project-img-wrapper {
    display: block;
    float: none;
    padding: 0;
    width: 100%;

    img {
      margin-bottom: 2rem;
    }
  }

  .project-screenshot {
    margin-top: 2rem;
  }

  // Sections

  .project-preview {
    box-sizing: border-box;
    min-height: 120vh;
    padding: 8rem 0;

    .project-summary {
      display: none;
    }
  }

  .project-hero {
    padding: 6rem 0 4rem;

    blockquote {
      font-size: 1rem;
      float: none;
      margin-top: 4rem;
      padding: 3rem 2rem 2rem;
      width: 100%;

      &:before {
        display: none;
      }
    }

    cite {
      padding-top: 1rem;

      span {
        display: inline;
      }

      .name:after {
        content: ',';
      }

      .subtitle {
        display: none;
      }

      .photo {
        height: 4rem;
        left: 50%;
        margin-left: -2rem;
        top: -2rem;
        width: 4rem;
      }
    }

    .services {
      display: block;
      float: none;
      padding: 0;
      position: relative;
      text-align: center;
      top: auto;
      width: 100%;
      margin-bottom: 2rem;

      li {
        display: inline-block;

        &:last-child:after {
          display: none;
        }
      }
    }
  }

  .project-goal {
    padding: 4rem 0;

    .h1 {
      margin-bottom: 2rem;
      text-align: center;
    }
  }

  .project-related-work {
    color: $dark-gray;
    padding: 6rem 0 4rem;
  }
}
