$quote-height: 8.5rem;

.full-bleed {
  margin-top: 8rem;
  margin-bottom: 5.5rem;

  &.pattern-trans {
    @include upchannel-pattern-trans(0.2);
  }

  .project-screenshot {
    margin: 0;
    position: relative;
    z-index: $z-content;
  }
}

// Components

.project-img-wrapper {
  @include column;
  display: inline-block;
  float: left;
  position: relative;
  width: 66.666666%;
  z-index: 2;

  img {
    margin-bottom: 5rem;
    width: 100%;
  }
}

.project-title {
  margin-top: 2rem;
}

.project-title, .project-summary, .project-arrow {
  box-sizing: border-box;
  display: inline-block;
  float: right;
  margin-bottom: 2rem;
  padding: 0 1.25rem;
  width: 33.333333%;
}

.project-screenshot {
  display: block;
  margin: 8rem 0 0;
  width: 100%;

  &.with-shadow {
    box-shadow: 0 0 2rem rgba($true-black, 0.25);
  }

  &.padded {
    padding: 4rem 0;
  }

  & + .project-screenshot {
    margin-top: 4rem;
  }

  &.illustrations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.font-stacks {
  margin-top: 8rem;
}

.project-font-stack {
  align-items: flex-end;
  display: flex;

  + .project-font-stack {
    margin-top: 4rem;
  }

  .font-description {
    width: 20%;

    > p {
      margin: 0;
    }
  }

  .font-img-wrapper {
    position: relative;
    width: 80%;

    img {
      display: block;
    }

    .underline {
      bottom: 0;
      display: block;
      height: 1px;
      opacity: 0.25;
      position: absolute;
      width: 200%;
    }

    .underline-fill {
      bottom: 0;
      display: block;
      height: 1px;
      left: 0;
      position: absolute;
      transform: scale(0, 1);
      transform-origin: 0 0;
      transition: (2 * $slow-speed) ease transform;
      width: 200%;
    }
  }

  &:hover .font-img-wrapper .underline-fill {
    transform: scale(1, 1);
  }

  &.has-16px-descenders {
    .font-img-wrapper img {
      margin-bottom: -16px;
    }
  }

  &.has-10px-descenders {
    .font-img-wrapper img {
      margin-bottom: -10px;
    }
  }

  &.has-12px-descenders {
    .font-img-wrapper img {
      margin-bottom: -12px;
    }
  }

  &.has-8px-descenders {
    .font-img-wrapper img {
      margin-bottom: -8px;
    }
  }
}

// Sections

.project-preview {
  padding: 16rem 0 0;
  position: relative;
  z-index: 5;
}

.project-hero {
  padding: 16rem 0 6rem;

  .services {
    @extend %h3;
    @include column;
    animation: $a-fade-in;
    display: inline-block;
    float: left;
    left: 0;
    position: absolute;
    text-align: right;
    top: 100%;
    width: 37.5%;

    li {
      &:after {
        content: '+';
        display: inline;
        padding: 0 0.3rem 0 .5rem
      }
    }
  }

  blockquote {
    @extend %h2;
    @include column;
    animation: $a-fade-in;
    border-bottom: 1px solid $white;
    border-left: 1px solid $white;
    float: right;
    margin-top: -9rem;
    padding: 8.75rem 5.5rem 4rem;
    position: relative;
    width: 66.666666%;
    z-index: 1;

    .quote-upper-line, .quote-lower-line {
      content: ' ';
      display: block;
      position: absolute;
    }

    .quote-upper-line {
      height: 1px;
      left: 0;
      right: ($quote-height / 2);
      top: 0;
    }

    .quote-lower-line {
      bottom: 0;
      right: 0;
      top: ($quote-height / 2);
      width: 1px;
    }

    .quote-mark {
      content: ' ';
      display: block;
      height: $quote-height;
      position: absolute;
      right: - ($quote-height / 2);
      top: - ($quote-height / 2);
      width: $quote-height;

      svg {
        height: 100%;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

blockquote cite, .quote .text cite {
  @extend %p;
  display: block;
  margin-top: 2.5rem;
  padding-left: 5rem;
  position: relative;

  span {
    display: block;
  }

  .subtitle {
    opacity: 0.5;
  }

  .photo {
    height: 3rem;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 3rem;

    img {
      height: 100%;
      width: 100%;
    }
  }
}

.project-section {
  padding: 6rem 0;

  .h1 {
    margin-bottom: 4rem;
    text-align: center;
  }

  .content > div > p {
    margin-bottom: 4rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

$small-quote-height: 15px;
@media screen and (max-width: $tablet-landscape-max) {

  .full-bleed {
    margin-top: 4rem;
  }

  // Components
  .project-title, .project-summary, .project-arrow {
    display: block;
    float: none;
    margin-bottom: 3rem;
    padding: 0;
    width: 100%;
  }

  .project-hero .project-img-wrapper .services {
    display: none;
  }

  .project-title {
    margin-top: 0;
    text-align: center;
  }

  .project-img-wrapper {
    display: block;
    float: none;
    width: 66%;
    margin: 3rem auto 0;

    img {
      display: block;
      margin: 0 auto 3rem;
      max-width: 100%;
    }
  }

  .project-summary, .blockquote-wrapper {
    box-sizing: border-box;
    width: 66%;
    margin: 0 auto;
    padding: 0 1.5rem;
  }

  .project-hero {
    margin: 0 auto;
  }

  // Sections

  .project-preview {
    padding: 8rem 0;

    .project-summary {
      display: none;
    }
  }

  .project-screenshot {
    margin: 4rem 0 0;
  }

  .project-hero {
    padding: 12rem 0 6rem;

    blockquote {
      border-right: 1px solid $white;
      float: none;
      font-size: 1.5rem;
      margin-top: 4rem;
      padding: 2.5rem 2rem 2rem;
      width: 100%;

      .quote-upper-line {
        height: 1px;
        left: 0;
        right: auto;
        width: 40%;
      }

      .quote-lower-line {
        bottom: auto;
        height: 1px;
        top: 0;
        width: 40%;
      }

      .quote-mark {
        height: $small-quote-height;
        left: 50%;
        top: - ($small-quote-height / 2);
        transform: translateX(-50%);
      }

      &:before {
        display: none;
      }
    }

    .services {
      display: block;
      float: none;
      margin-bottom: 2rem;
      padding: 0;
      position: relative;
      text-align: center;
      top: auto;
      width: 100%;

      li {
        display: inline-block;

        &:last-child:after {
          display: none;
        }
      }
    }
  }

  blockquote cite, .quote .text cite {
    margin-top: 1.5rem;
    padding-left: 4.5rem;
    padding-top: 0;

    span {
      vertical-align: top;
      font-size: 1rem;
    }

    .subtitle {
      display: none;
    }

    .photo {
      height: 3rem;
      width: 3rem;
    }
  }

  .project-section {
    .h1 {
      margin-bottom: 3rem;
    }

    .project-font-stack {
      .underline, .underline-fill {
        display: none;
      }
    }
  }

  .font-stacks {
    margin-top: 4rem;
  }
}

@media screen and (max-width: $tablet-portrait-max) {
  .project-hero {
    padding: 16rem 0 4rem;
  }

  .project-summary, .blockquote-wrapper, .project-img-wrapper {
    margin-top: 4rem;
    padding: 0;
    width: 100%;
  }

  .project-preview {
    padding: 5rem 0 3rem;
  }

  .font-stacks {
    margin-top: 4rem;
  }

  .project-section {
    padding: 4rem 0;

    .h1 {
      margin-bottom: 2rem;
    }
  }

  .project-font-stack {
    margin-top: 0;
    flex-wrap: wrap;

    + .project-font-stack {
      margin-top: 4rem;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .font-description {
      margin-bottom: 1rem;
      width: 100%;

      p {
        display: inline;

        &:first-child:after {
          content: ','
        }
      }
    }
  }

  .project-screenshot {
    margin: 4rem 0 0;

    &.padded {
      max-width: 75%;
      padding: 3rem 0;
      margin: 3rem auto 0;
    }

    & + .project-screenshot {
      margin-top: 3rem;
    }

    &.illustrations {
      margin-bottom: -1rem;

      .col-2 {
        padding: 0 0 1rem;
      }
    }
  }

  .project-hero blockquote {
    font-size: 1.5rem;
    margin-top: 3rem;
  }

  .full-bleed {
    margin: 3rem 0 0;
  }

  .project-title {
    font-size: 3.5rem;
    line-height: 1;
  }
}

@media screen and (max-width: $phone-landscape-max) {
  .project-hero {
    padding: 6rem 0 3rem;
  }

  .project-hero blockquote {
    font-size: 1.25rem;

    .quote-mark {
      content: ' ';
      display: block;
      height: 0.9375rem;
      position: absolute;
      right: - (1.5rem / 2);
      top: - (0.9375rem / 2);
      width: 1.5rem;
    }
  }

  .project-title {
    font-size: 2.25rem;
    line-height: 1;
  }

  .project-screenshot {
    margin: 4rem 0 0;
  }

  .project-section {
    padding: 3rem 0;
  }

  .font-stacks {
    margin-top: 3rem;
  }

  .project-font-stack {
    + .project-font-stack {
      margin-top: 3rem;
    }

    .font-description p {
      font-size: 1rem;
    }
  }
}
