.related {
  border-style: solid;
  border-width: 1px;
  margin-bottom: 4rem;
  padding: 4rem 5.5rem;
  position: relative;

  .icon {
    left: 5.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    svg {
      height: 3rem;
      width: 3rem;
    }
  }

  .text {
    padding-left: 5.5rem;

    p {
      transition: $t-hover-color;
    }
  }

  h3 {
    color: $blue;
    margin-bottom: 0.5rem;
    transition: $t-hover-color;
  }

  &:hover {
    path {
      fill: $white;
    }

    .text h3, .text p {
      color: $white;
    }
  }
}

@media screen and (max-width: $phone-landscape-max) {
  .related {
    margin-bottom: 2rem;
    padding: 3rem 2rem 2rem;

    .icon {
      background-color: $light-gray;
      border-radius: 50%;
      height: 2rem;
      left: 50%;
      padding: 1rem;
      top: 0;
      transform: translate(-50%, -50%);
      width: 2rem;

      svg {
        height: 2rem;
        width: 2rem;
      }
    }

    .text {
      padding: 0;
    }

    &:hover {
      path {
        fill: $blue;
      }
    }
  }
}
