$white-strip-height: 15rem;

.team-hero {
  animation: $a-slide-up;
  background-color: $blue;
  padding-top: 12.5rem;
  transition: $t-page-opacity;
  z-index: 12;
}

.team-member {
  animation: $a-fade-in-delay;
  margin-bottom: -$white-strip-height;

  .text {
    box-sizing: border-box;
    color: $dark-gray;
    height: $white-strip-height;
    padding-top: 2rem;
    text-align: center;
  }

  h2 {
    margin-bottom: 0.25rem;
  }

  &:hover .team-member-social-links .icon path {
    fill: $dark-gray;
  }

  &:hover .team-member-social-links .icon:hover path {
    fill: $blue;
  }
}

.team-member-social-links {
  padding-top: 1rem;

  .icon {
    margin-right: 0.5rem;
    padding: 0.25rem;

    &:last-child {
      margin-right: 0;
    }

    path {
      fill: $light-gray;
    }
  }
}

.team-photo-wrapper {
  padding-top: 128.21%;
  position: relative;
  width: 100%;

  img {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.team-white-strip {
  animation: $a-slide-up;
  background-color: $white;
  padding-top: $white-strip-height;
  transition: $t-page-opacity;
  z-index: 10;
}

.team-page {
  section {
    position: relative;
  }

  footer {
    animation: $a-fade-in-delay;
  }
}

@media screen and (max-width: $phone-landscape-max) {
  .team-hero {
    padding-top: 6rem;

    > .content {
      padding: 0;
    }
  }

  .team-photo-wrapper {
    padding-top: 0;
    position: relative;

    img {
      display: block;
      height: 18.75rem;
      margin: 0 auto;
      position: relative;
      width: auto;
    }
  }

  .team-member {
    margin: 0;
    overflow: hidden;

    .text {
      background-color: $light-gray;
      height: auto;
      margin: 0 -2rem;
      padding: 1rem 0 2rem;
    }

    .team-member-social-links .icon path {
      fill: $dark-gray;
    }
  }

  .team-white-strip {
    padding-top: 0;
  }
}
