$white-strip-height: 15rem;

.team-hero {
  animation: $a-slide-up;
  background-color: $blue;
  padding-top: 12.5rem;
  transition: $t-page-opacity, $t-page-transform;
  z-index: 80;
}

.team-member {
  animation: $a-fade-in;
  margin-bottom: -$white-strip-height;

  .text {
    background-color: $white;
    box-sizing: border-box;
    color: $dark-gray;
    height: $white-strip-height;
    padding-top: 2rem;
    position: relative;
    text-align: center;
    z-index: 10;
  }

  h2 {
    margin-bottom: 0.25rem;
  }

  .team-photo-wrapper {
    padding-top: 128.21%;
    position: relative;
    transform: translate3d(0, 1rem, 0);
    transition: $t-hover-ease-transform;
    width: 100%;
    z-index: 9;

    img {
      bottom: 0;
      height: auto;
      position: absolute;
    }
  }

  &:hover {
    .team-photo-wrapper {
      transform: translate3d(0, 0, 0);
    }

    .team-member-social-links .icon path {
      fill: $dark-gray;
    }
  }
}

.team-member-social-links {
  padding-top: 1rem;

  .icon {
    height: 1.25rem;
    margin-right: 1rem;
    padding: 0.25rem;
    width: 1.25rem;

    svg {
      height: 1.25rem;
      width: 1.25rem;
    }

    &:last-child {
      margin-right: 0;
    }

    path {
      fill: $light-gray;
    }
  }
}


.team-white-strip {
  animation: $a-slide-up;
  background-color: $white;
  padding-top: $white-strip-height;
  transition: $t-page-opacity, $t-page-transform;
  z-index: 70;
}

.team-page {
  section {
    position: relative;
  }

  footer {
    animation: $a-fade-in;
  }
}

@media screen and (max-width: $tablet-portrait-max) {
  .team-hero {
    padding-top: 6rem;

    > .content {
      padding: 0;
    }
  }

  .team-member {
    margin: 0;
    overflow: hidden;

    h2 {
      font-size: 1.75rem;
    }

    .team-photo-wrapper {
      height: auto;
      padding-top: 0;
      position: relative;

      img {
        display: block;
        height: auto;
        left: 0;
        margin: 0 auto;
        max-width: 24rem;
        position: relative;
        width: 70%;
      }
    }

    .text {
      background-color: $light-gray;
      height: auto;
      margin: 0 -2rem;
      padding: 1rem 0 2rem;
    }

    .team-member-social-links .icon {
      height: 1.25rem;
      margin-right: 2rem;
      width: 1.25rem;

      &:last-child {
        margin-right: 0;
      }

      svg {
        height: 1.25rem;
        width: 1.25rem;
      }

      path, rect {
        fill: $dark-gray;
      }
    }
  }

  .team-white-strip {
    padding-top: 0;
  }
}
