@font-face {
  font-family: 'Calibre';
  src: url('../../font/CalibreWeb-Regular.eot'); /* IE9 Compat Modes */
  src: url('../../font/CalibreWeb-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../font/CalibreWeb-Regular.woff') format('woff'), /* Pretty Modern Browsers */
}

// Font weights
$extra-bold: 800;
$bold: 700;
$regular: 400;
$thin: 300;

// Fonts
$sans: 'Calibre', Helvetica, Arial, sans-serif;

body {
  text-transform: lowercase;
}

$h1-font-size: 3.5rem;
$h1-line-height: 1.25;

p, .p {
    font-family: $sans;
    font-weight: $regular;
    font-size: $h1-font-size;
    line-height: $h1-line-height;
}

@media screen and (max-width: $phone-max) {
  p, .p {
    font-size: 3rem;
  }
}
