@font-face {
  font-family: 'Calibre';
  src: url('../../font/CalibreWeb-Regular.eot'); // IE9 Compat Modes
  src: url('../../font/CalibreWeb-Regular.eot?#iefix') format('embedded-opentype'), // IE6-IE8
       url('../../font/CalibreWeb-Regular.woff') format('woff'); // Pretty Modern Browsers
}

// Font weights
$extra-bold: 800;
$bold: 700;
$regular: 400;
$thin: 300;

// Fonts
$sans: 'Calibre', Helvetica, Arial, sans-serif;

h1, %h1, .h1 {
  font-size: 2.5rem;
}

h2, %h2 {
  font-size: 2rem;
}

h3, %h3 {
  font-size: 1.5rem;
}

h4, %h4 {
  font-size: 1rem;
}

p, %p {
  font-size: 1rem;
}

@mixin nice-underline($color, $height, $font-size) {
  background-color: transparent;
  background-image: linear-gradient(to bottom, $color, $color);
  background-repeat: repeat-x;
  background-size: 2px $height;
  background-position: 0 $font-size;
}
