.section-work-hero {
  padding: 24.5rem 0 10rem;
  text-align: center;

  h1 {
    animation: $a-fade-in;
    transition: $t-scroll-color;
  }
}

.section-work-identities {
  > .content {
    padding-bottom: 8rem;
    padding-top: 16rem;
  }

  .h1 {
    text-align: center;
    transition: $t-scroll-opacity;
  }

  .logos {
    margin: 0 -1.25rem;
    padding-top: 5rem;

    img {
      opacity: 0.4;
    }
  }
}

@media screen and (max-width: $phone-landscape-max) {
  .section-work-hero {
    padding: 8.5rem 0 7.5rem;
  }

  .section-work-identities {
    > .content {
      padding-bottom: 4rem;
      padding-top: 4rem;
    }

    .logos {
      padding-top: 2rem;
    }
  }
}
