.section-work-hero {
  padding: 24.5rem 0 10rem;
  text-align: center;

  h1 {
    animation: $a-fade-in;
    transition: $t-color;
  }
}

.section-work-identities {
  > .content {
    padding: 16rem 0 8rem;
  }

  .h1 {
    text-align: center;
    transition: $t-opacity;
  }

  .logos {
    margin: 0 -1.25rem;
    padding-top: 5rem;

    img {
      opacity: 0.4;
    }
  }
}
