{{#extend "page"}}

{{#content "body-class" }}error-404-page{{/content}}

{{#content "main" mode="append"}}
<div class="centered-content error-404">
    <h2 class="h1">This page doesn't exist.</h2>
    <p class="h1"><a href="/">Head back home.</a></p>
</div>
{{/content}}

{{/extend}}
