{{#extend "base" foo="bar"}}
{{#content "main" mode="prepend"}}
{{> "navbar" }}
<ul class="backgrounds">
    <li class="background-work-hero" id="background-work-hero"></li>
    <li class="background-work-fin" id="background-work-fin"></li>
    <li class="background-work-wac" id="background-work-wac"></li>
    <li class="background-work-redspread" id="background-work-redspread"></li>
    <li class="background-work-upchannel" id="background-work-upchannel"></li>
    <li class="background-work-unscan" id="background-work-unscan"></li>
    <li class="background-work-identities" id="background-work-identities"></li>
</ul>
<ul class="sections" id="sections">
    <li class="animated-section section-work-hero" data-section-id="work-hero">
        <div class="content">
            <div class="col-12">
                <h1 class="h1">We are Minimill, a design agency for brand, web, and mobile.</h1>
            </div>
        </div>
    </li>
    <li class="animated-section project-preview section-work-wac" data-section-id="work-wac">
        <div class="content">
            <div class="col-8">
                <img src="img/wac-macbook.png" alt="World After Capital">
            </div>
            <div class="col-4">
                <h2 class="h1">World After Captial</h2>
                <p>We worked with Albert Wenger to create a web presence for his new book. Readers are immersed in an online experience that pairs nicely with the book’s provocative yet accessible thesis.</p>
                <p><a href="/world-after-capital" class="view-project-button">View Project</a></p>
            </div>
        </div>
    </li>
    <li class="animated-section project-preview section-work-fin" data-section-id="work-fin">
        <div class="content">
            <div class="col-8">
                <img src="img/fin-macbook.png" alt="Fin">
            </div>
            <div class="col-4">
                <h2 class="h1">Fin</h2>
                <p>We teamed up with Andrew Staub, Andrew Kortina, and Sam Lessin to develop an informative web presence for their new forward-thinking mobile application, Fin.</p>
                <p><a href="/fin" class="view-project-button">View Project</a></p>
            </div>
        </div>
    </li>
    <li class="animated-section project-preview section-work-upchannel" data-section-id="work-upchannel">
        <div class="content">
            <div class="col-8">
                <img src="img/upchannel-macbook.png" alt="Upchannel">
            </div>
            <div class="col-4">
                <h2 class="h1">Upchannel</h2>
                <p>Previously known as AppCow, our team worked to rebrand and redesign this company to better fit its new direction in data utilization. UpChannel’s new image gives their clients a more clear understanding of their products.</p>
                <p><a href="/upchannel" class="view-project-button">View Project</a></p>
            </div>
        </div>
    </li>
    <li class="animated-section project-preview section-work-unscan" data-section-id="work-unscan">
        <div class="content">
            <div class="col-8">
                <img src="img/unscan-macbook.png" alt="Unscan">
            </div>
            <div class="col-4">
                <h2 class="h1">Unscan</h2>
                <p>Minimill developed a brand and user friendly website to showcase Unscan, a newly emerged startup aimed at solve the issues associated with human documentation processing. </p>
                <p><a href="/unscan" class="view-project-button">View Project</a></p>
            </div>
        </div>
    </li>
    <li class="animated-section section-work-identities" data-section-id="work-identities">
        <div class="content">
            <div class="col-12">
                <h2 class="h1">We shape identities for exciting startups and big companies.</h2>
                <div class="logos">
                    <div class="content">
                        <div class="col-3">
                            <img src="img/client-logos/delta.svg" alt="Delta">
                        </div>
                        <div class="col-3">
                            <img src="img/client-logos/fin.svg" alt="Fin">
                        </div>
                        <div class="col-3">
                            <img src="img/client-logos/autodesk.svg" alt="Autodesk">
                        </div>
                        <div class="col-3">
                            <img src="img/client-logos/redspread.svg" alt="Redspread">
                        </div>
                        <div class="col-3">
                            <img src="img/client-logos/upchannel.svg" alt="upchannel">
                        </div>
                        <div class="col-3">
                            <img src="img/client-logos/creativemarket.svg" alt="Creative Market">
                        </div>
                        <div class="col-3">
                            <img src="img/client-logos/99pi.svg" alt="99 Percent Invisible">
                        </div>
                        <div class="col-3">
                            <img src="img/client-logos/unscan.svg" alt="Unscan">
                        </div>
                    </div>
                </div>
                <hr>
                <h2 class="h1">Let's work together.</h2>
                <p class="h1"><a href="mailto:team@minimill.co">team@minimill.co</a></p>
            </div>
        </div>
    </li>
    {{> "footer" }}
</ul>
<script src="/js/lib/mobile-detect.min.js"></script>
<script src="/js/sections.js"></script>
<script src="/js/lib/pageanimation.min.js"></script>
<script>
  var sections = new Sections().enable();
  var MOBILE_WIDTH = 640;
  var md = new MobileDetect(window.navigator.userAgent);
  if (md.mobile() === null) {
    new PageAnimation({
      animateLinksToSelf: true,
      scrollTiming: 'during',

      shouldAnimate: function() {
        return window.innerWidth > MOBILE_WIDTH;
      },

      computeScrollOffset: function(animation) {
        if (animation.path === '/') {
          return 0;
        }

        var currentElement = animation.anchor;
        while (currentElement) {
          if (currentElement.className.indexOf('animated-section') > -1) {
            return currentElement.offsetTop;
          }

          currentElement = currentElement.parentElement;
        }
      },
    }).register(/^\/$/, 'sections', 'animating-to-home', {
      scrollTiming: 'after',
    }).register(/^\/wac+$/, 'sections', 'animating-to-wac-project')
      .register(/^\/fin+$/, 'sections', 'animating-to-fin-project')
      .register(/^\/upchannel+$/, 'sections', 'animating-to-upchannel-project')
      .register(/^\/unscan+$/, 'sections', 'animating-to-unscan-project')
      .enable();
  }
</script>
{{/content}}
{{/extend}}
