
{{#extend "scrolling-page"}}
{{#content "backgrounds"}}
<li class="background-work-wac" id="background-work-wac"></li>
<li class="background-work-fin" id="background-work-fin"></li>
<li class="background-work-upchannel" id="background-work-upchannel"></li>
<li class="background-work-unscan" id="background-work-unscan"></li>
<li class="background-work-identities" id="background-work-identities"></li>
{{/content}}
{{#content "navbar"}}
{{> "navbar" }}
{{> "navbar" fixed="true" }}
{{/content}}
{{#content "sections"}}
<li class="animated-section section-work-hero" data-section-id="work-hero" id="work-hero">
    <div class="content">
        <div class="col-12">
            <h1 class="h1 sc-text">We are Minimill, a design agency for branding and web.</h1>
        </div>
    </div>
    <a href="#work" class="work-link down-arrow"><img src="/img/icon-down.svg"></a>
</li>
<li class="animated-section project-preview section-work-wac" id="world-after-capital" data-section-id="work-wac">
    <div class="content">
        <h2 class="h1 project-title sc-text">
            <a href="/worldaftercapital">World After Capital</a>
        </h2>
        <div class="project-img-wrapper">
            <a href="/worldaftercapital">
                <img src="img/wac/wac-macbook.png" alt="World After Capital">
            </a>
        </div>
        <p class="project-summary sc-text">Our team worked with Albert Wenger to produce a web presence for his new book. Readers engage in an interactive experience that promotes the book’s provocative yet accessible thesis.</p>
        <p class="project-arrow">{{> arrow-link url="/worldaftercapital" label="View Project"}}</p>
    </div>
</li>
<li class="animated-section project-preview section-work-fin" id="fin" data-section-id="work-fin">
    <div class="content">
        <h2 class="h1 project-title sc-text">
            <a href="/fin">Fin</a>
        </h2>
        <div class="project-img-wrapper">
            <a href="/fin">
              <img src="img/fin/fin-macbook.png" alt="Fin">
            </a>
        </div>
        <p class="project-summary sc-text">We teamed up with the Fin team to develop the product dashboard and marketing site for their new mobile application. Our site serves as a portal for Fin’s public launch and ongoing growth.</p>
        <p class="project-arrow">{{> arrow-link url="/fin" label="View Project"}}</p>
    </div>
</li>
<li class="animated-section project-preview section-work-upchannel" id="upchannel" data-section-id="work-upchannel">
    <div class="content">
        <h2 class="h1 project-title sc-text">
            <a href="/upchannel">UpChannel</a>
        </h2>
        <div class="project-img-wrapper">
            <a href="/upchannel">
              <img src="img/upchannel/upchannel-macbook.png" alt="UpChannel">
            </a>
        </div>
        <p class="project-summary sc-text">Our team worked to rebrand this company to better fit its business direction. UpChannel’s new image gives customers a clear understanding of their product offerings in the mobile industry.</p>
        <p class="project-arrow">{{> arrow-link url="/upchannel" label="View Project"}}</p>
    </div>
</li>
<li class="animated-section project-preview section-work-unscan" id="unscan" data-section-id="work-unscan">
    <div class="content">
        <h2 class="h1 project-title sc-text">
            <a href="/unscan">Unscan</a>
        </h2>
        <div class="project-img-wrapper">
            <a href="/unscan">
              <img src="img/unscan/unscan-macbook.png" alt="Unscan">
            </a>
        </div>
        <p class="project-summary sc-text">Minimill developed a confident identity through logo and web for Unscan to reflect their forward-thinking mission of automating large-scale human document processing.</p>
        <p class="project-arrow">{{> arrow-link url="/unscan" label="View Project"}}</p>
    </div>
</li>
<li class="animated-section section-work-identities" id="identities" data-section-id="work-identities">
    <div class="content">
        <div class="col-12">
            <h2 class="h1 sc-text">We partner with amazing teams of all sizes.</h2>
            <div class="logos">
                <div class="content">
                    <div class="col-3 m-col-4">
                        <a href="http://www.delta.com/">
                            {{> "client-logos/delta.svg" }}
                        </a>
                    </div>
                    <div class="col-3 m-col-4">
                        <a href="https://www.fin.com/">
                            {{> "client-logos/fin.svg" }}
                        </a>
                    </div>
                    <div class="col-3 m-col-4">
                        <a href="http://www.autodesk.com/">
                            {{> "client-logos/autodesk.svg" }}
                        </a>
                    </div>
                    <div class="col-3 m-col-4">
                        <a href="https://redspread.com/">
                            {{> "client-logos/redspread.svg" }}
                        </a>
                    </div>
                    <div class="col-3 m-col-4">
                        <a href="http://upchannel.com/">
                            {{> "client-logos/upchannel.svg" }}
                        </a>
                    </div>
                    <div class="col-3 m-col-4">
                        <a href="http://www.kpcb.com/">
                            {{> "client-logos/kpcb.svg" }}
                        </a>
                    </div>
                    <div class="col-3 m-col-4">
                        <a href="http://99percentinvisible.org/">
                            {{> "client-logos/99pi.svg" }}
                        </a>
                    </div>
                    <div class="col-3 m-col-4">
                        <a href="https://unscan.com/">
                            {{> "client-logos/unscan.svg" }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>
{{> "footer" id="work-footer" class="with-line"}}
{{/content}}
{{#content "js" mode="append"}}
<script inline src="/js/home.js"></script>
{{/content}}
{{/extend}}
