{{#extend "base" foo="bar"}}
{{#content "main" mode="prepend"}}
<div class="content">
    <div class="logo">
        {{> "minimill-logo.svg" }}
    </div>
    <p>We are Minimill,<br> a new design agency <br> for brand, web, and mobile.</p>
    <p><a href="mailto:team@minimill.co">Let's work together.</a></p>
</div>
{{/content}}
{{/extend}}