
{{#extend "scrolling-page"}}
{{#content "backgrounds"}}
<li class="background-work-wac" id="background-work-wac"></li>
<li class="background-work-fin" id="background-work-fin"></li>
<li class="background-work-upchannel" id="background-work-upchannel"></li>
<li class="background-work-unscan" id="background-work-unscan"></li>
<li class="background-work-identities" id="background-work-identities"></li>
{{/content}}
{{#content "sections"}}
<li class="animated-section section-work-hero" data-section-id="work-hero">
    <div class="content">
        <div class="col-12">
            <h1 class="h1 sc-text">We are Minimill, a design agency for brand, web, and mobile.</h1>
        </div>
    </div>
    <a href="#work" class="work-link"><img src="/img/icon-down.svg"></a>
</li>
<li class="animated-section project-preview section-work-wac" id="world-after-capital" data-section-id="work-wac">
    <div class="content">
        <h2 class="h1 project-title sc-text">World After Captial</h2>
        <div class="project-img-wrapper">
            <img src="img/wac-macbook.png" alt="World After Capital">
        </div>
            <p class="project-summary sc-text">We worked with Albert Wenger to create a web presence for his new book. Readers are immersed in an online experience that pairs nicely with the book’s provocative yet accessible thesis.</p>
            <p class="project-arrow">{{> arrow-link url="/world-after-capital" label="View Project"}}</p>
    </div>
</li>
<li class="animated-section project-preview section-work-fin" id="fin" data-section-id="work-fin">
    <div class="content">
        <h2 class="h1 project-title sc-text">Fin</h2>
        <div class="project-img-wrapper">
            <img src="img/fin-macbook.png" alt="Fin">
        </div>
        <p class="project-summary sc-text">We teamed up with Andrew Staub, Andrew Kortina, and Sam Lessin to develop an informative web presence for their new forward-thinking mobile application, Fin.</p>
        <p class="project-arrow">{{> arrow-link url="/fin" label="View Project"}}</p>
    </div>
</li>
<li class="animated-section project-preview section-work-upchannel" id="upchannel" data-section-id="work-upchannel">
    <div class="content">
        <h2 class="h1 project-title sc-text">Upchannel</h2>
        <div class="project-img-wrapper">
            <img src="img/upchannel-macbook.png" alt="Upchannel">
        </div>
        <p class="project-summary sc-text">Previously known as AppCow, our team worked to rebrand and redesign this company to better fit its new direction in data utilization. UpChannel’s new image gives their clients a more clear understanding of their products.</p>
        <p class="project-arrow">{{> arrow-link url="/upchannel" label="View Project"}}</p>
    </div>
</li>
<li class="animated-section project-preview section-work-unscan" id="unscan" data-section-id="work-unscan">
    <div class="content">
        <h2 class="h1 project-title sc-text">Unscan</h2>
        <div class="project-img-wrapper">
            <img src="img/unscan-macbook.png" alt="Unscan">
        </div>
        <p class="project-summary sc-text">Minimill developed a brand and user friendly website to showcase Unscan, a newly emerged startup aimed at solve the issues associated with human documentation processing. </p>
        <p class="project-arrow">{{> arrow-link url="/unscan" label="View Project"}}</p>
    </div>
</li>
<li class="animated-section section-work-identities" id="identities" data-section-id="work-identities">
    <div class="content">
        <div class="col-12">
            <h2 class="h1 sc-text">We shape identities for exciting startups and big companies.</h2>
            <div class="logos">
                <div class="content">
                    <div class="col-3 m-col-6">
                        <img src="img/client-logos/delta.svg" alt="Delta">
                    </div>
                    <div class="col-3 m-col-6">
                        <img src="img/client-logos/fin.svg" alt="Fin">
                    </div>
                    <div class="col-3 m-col-6">
                        <img src="img/client-logos/autodesk.svg" alt="Autodesk">
                    </div>
                    <div class="col-3 m-col-6">
                        <img src="img/client-logos/redspread.svg" alt="Redspread">
                    </div>
                    <div class="col-3 m-col-6">
                        <img src="img/client-logos/upchannel.svg" alt="upchannel">
                    </div>
                    <div class="col-3 m-col-6">
                        <img src="img/client-logos/creativemarket.svg" alt="Creative Market">
                    </div>
                    <div class="col-3 m-col-6">
                        <img src="img/client-logos/99pi.svg" alt="99 Percent Invisible">
                    </div>
                    <div class="col-3 m-col-6">
                        <img src="img/client-logos/unscan.svg" alt="Unscan">
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>
{{> "footer" id="work-footer" class="with-line"}}
{{/content}}
{{#content "js" mode="append"}}
<script src="/js/home.js"></script>
{{/content}}
{{/extend}}
