{{#extend "page"}}

{{#content "body-class" }}team-page{{/content}}

{{#content "main" mode="append"}}
<section class="team-hero" id="team-hero">
    <div class="content">
        <div class="col-4">
            <div class="team-member">
                <div class="team-photo-wrapper">
                    <img src="/img/dan-slice.png" alt="Dan Schlosser">
                </div>
                <div class="text">
                    <h2>Dan Schlosser</h2>
                    <h4>Dev, NYC</h4>
                    <p class="team-member-social-links">
                        <a class="icon github-link" href="https://github.com/danrschlosser">{{> "icons/github.svg" }}</a>
                        <a class="icon twitter-link" href="https://twitter.com/danrschlosser">{{> "icons/twitter.svg" }}</a>
                        <a class="icon dribbble-link" href="https://dribbble.com/danrschlosser">{{> "icons/dribbble.svg" }}</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="team-member">
                <div class="team-photo-wrapper">
                    <img src="/img/jeff-slice.png" alt="Jeff Hilnbrand">
                </div>
                <div class="text">
                    <h2>Jeff Hilnbrand</h2>
                    <h4>Design, DC</h4>
                    <p class="team-member-social-links">
                        <a class="icon github-link" href="https://github.com/jhilmd">{{> "icons/github.svg" }}</a>
                        <a class="icon twitter-link" href="https://twitter.com/jhilmd">{{> "icons/twitter.svg" }}</a>
                        <a class="icon dribbble-link" href="https://dribbble.com/jhil">{{> "icons/dribbble.svg" }}</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="team-member">
                <div class="team-photo-wrapper">
                    <img src="/img/amritha-slice.png" alt="Amritha Jaynati">
                </div>
                <div class="text">
                    <h2>Amritha Jayanti</h2>
                    <h4>Project Management, DC</h4>
                    <p class="team-member-social-links">
                        <a class="icon github-link" href="https://github.com/ajayanti">{{> "icons/github.svg" }}</a>
                        <a class="icon twitter-link" href="https://twitter.com/amrithajayanti">{{> "icons/twitter.svg" }}</a>
                        <a class="icon dribbble-link" href="https://dribbble.com/amrithajayanti">{{> "icons/dribbble.svg" }}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="team-white-strip">
{{> "footer" }}
</section>
{{/content}}

{{#content "js" mode="append"}}
<script src="/js/team.js"></script>
{{/content}}
{{/extend}}
