{{#extend "project" }}
{{#content "title" mode="append"}} - Unscan{{/content}}
{{#content "body-class" mode="append"}} page-unscan{{/content}}
{{#content "backgrounds" mode="append"}}
<li class="background-unscan-hero"></li>
<li class="background-unscan-brand"></li>
<li class="background-unscan-web"></li>
{{/content}}
{{#content "sections" mode="prepend"}}
<li class="animated-section project-hero section-unscan-hero" data-section-id="unscan-hero">
    <div class="content">
        <h1 class="project-title sc-text">Unscan</h1>
        <div class="project-img-wrapper">
            <img src="/img/unscan/unscan-macbook.png" alt="Unscan">
            <ul class="services">
                <li class="sc-text">Brand Identity</li>
                <li class="sc-text">UI/UX Design</li>
                <li class="sc-text">Web Development</li>
            </ul>
        </div>
        <p class="project-summary sc-text">Minimill developed a brand and user friendly website to showcase Unscan, a newly emerged startup aimed at solve the issues associated with human documentation processing.</p>
        <blockquote class="sbd-accent">
            <div class="quote-upper-line sbg-accent"></div>
            <div class="quote-mark sf-svg-accent">{{> "icons/quote.svg"}}</div>
            <div class="quote-lower-line sbg-accent"></div>

            <span class="sc-text">Minimill's branding work with Unscan has meant more inbound sales interest and increased trust in our service. </span>
            <cite>
                <span class="name sc-text">Shariq Hashme</span>
                <span class="title sc-text">CEO, Unscan</span>
                <span class="photo"><img src="/img/unscan/head-shariq.png" alt="Shariq Hashme"></span>
            </cite>
        </blockquote>
    </div>
</li>
<li class="animated-section project-section section-unscan-brand" data-section-id="unscan-brand">
    <div class="content">
        <h2 class="h1 sc-text">Locking security into the brand</h2>
        <div class="col-8 col-centered">
            <p class="large sc-text">Well, yes, but that's not the point. Guess I'm not all smart like you. And maybe it'll be a different story, like when I'm ready to get married, but right now, I am telling you, the musical numbers are a bunch of amateurs! Gene, that is not what you said. And maybe it'll be a different story. You're not so bad yourself.</p>
        </div>
    </div>
    <div class="content">
        <div class="col-12">
            <img class="project-screenshot" src="/img/unscan/unscan-logotype.svg" alt="Fin">
        </div>
    </div>
    <div class="content">
        <div class="col-12">
            {{> color-block
              name="Gold"
              hex="F2BE55"
              class="light"}}
            {{> color-block
              name="Blue"
              hex="6998C3"
              class="dark"}}
        </div>
        <div class="col-6">
            {{> color-block
              name="Black"
              hex="222222"
              class="dark with-border"}}
        </div>
        <div class="col-6">
            {{> color-block
              name="White"
              hex="FFFFFF"
              class="light"}}
        </div>
    </div>
    <div class="content">
      <div class="col-12">
        {{> font-stack
          name="Standard CT"
          weight="Regular"
          src="/img/unscan/text-unscan-standard.png" }}
        {{> font-stack
          name="Standard CT"
          weight="Bold"
          src="/img/unscan/text-unscan-standardbold.png" }}
        </div>
      </div>
    </div>
</li>
<li class="animated-section project-section section-unscan-web" data-section-id="unscan-web">
    <div class="content">
        <h2 class="h1 sc-text">Definitely a website</h2>
        <div class="col-8 col-centered">
            <p class="large sc-text">Well, yes, but that's not the point. Guess I'm not all smart like you. And maybe it'll be a different story, like when I'm ready to get married, but right now, I am telling you, the musical numbers are a bunch of amateurs! Gene, that is not what you said. And maybe it'll be a different story. You're not so bad yourself.</p>
        </div>
    </div>
    <div class="content">
        <div class="col-12">
            <img class="project-screenshot" src="/img/unscan/unscan-monitor.png" alt="Fin">
        </div>
    </div>
    <div class="content">
        <div class="col-8 col-centered">
            {{#embed "external-link"
                href="https://unscan.com/"}}
                {{#content "icon"}}{{> "icons/github.svg" }}{{/content}}
                {{#content "h2"}}unscan.com{{/content}}
            {{/embed}}
        </div>
    </div>
</li>
{{> "footer" class="solid" id="unscan-footer" }}
{{/content}}
{{/extend}}
