{{#extend "project" }}
{{#content "title" mode="append"}} - Unscan{{/content}}
{{#content "body-class" mode="append"}} page-unscan{{/content}}
{{#content "backgrounds" mode="append"}}
<li class="background-unscan-hero"></li>
<li class="background-unscan-brand"></li>
<li class="background-unscan-imagery"></li>
<li class="background-unscan-web"></li>
{{/content}}
{{#content "sections" mode="prepend"}}
<li class="animated-section project-hero section-unscan-hero" data-section-id="unscan-hero">
    <div class="content">
        <h1 class="project-title sc-text">Unscan</h1>
        <div class="project-img-wrapper">
            <img src="/img/unscan/unscan-macbook.png" alt="Unscan">
            <ul class="services">
                <li class="sc-text">Brand Identity</li>
                <li class="sc-text">UI/UX Design</li>
                <li class="sc-text">Web Development</li>
            </ul>
        </div>
        <p class="project-summary sc-text">Minimill developed a brand and user friendly website to showcase Unscan, a newly emerged startup aimed at solve the issues associated with human documentation processing.</p>
        <blockquote class="sbd-accent">
            <div class="quote-upper-line sbg-accent"></div>
            <div class="quote-mark sf-svg-accent">{{> "icons/quote.svg"}}</div>
            <div class="quote-lower-line sbg-accent"></div>

            <span class="sc-text">It was hard for us to imagine how a manufactured brand could convey values like security and reliability until we worked with the fine folks of Minimill.</span>
            <cite>
                <span class="name sc-text">Shariq Hashme</span>
                <span class="title sc-text">Co-Founder, Unscan</span>
                <span class="photo"><img src="/img/unscan/head-shariq.png" alt="Shariq Hashme"></span>
            </cite>
        </blockquote>
    </div>
</li>
<li class="animated-section project-section section-unscan-brand" data-section-id="unscan-brand">
    <div class="content">
        <h2 class="h1 sc-text">Locking security into the brand</h2>
        <div class="col-8 col-centered">
            <p class="large sc-text">As an emerging startup, we wanted to highlight Unscan’s services through its logo for ease of client understanding and retention. The logo encompasses their general purpose through the simple, relevant customized text.</p>
        </div>
    </div>
    <div class="content">
        <div class="col-8 col-centered">
            <img class="project-screenshot padded" src="/img/unscan/unscan-logotype.svg" alt="Unscan Logotype">
        </div>
    </div>
    <div class="content">
        <div class="col-12">
            {{#embed "external-link"
                iconClass="quote"}}
                {{#content "icon"}}{{> "icons/quote.svg" }}{{/content}}
                {{#content "h2"}}Minimill's branding work with Unscan has meant more inbound sales interest and increased trust in our service. We're very happy with their work, and would gladly be a repeat customer.{{/content}}
                {{#content "cite"}}
                  <span class="photo"><img src="/img/unscan/head-richard.png" alt="Richard Higgins"></span>
                  <span class="name sc-text">Richard Higgins</span>
                  <span class="title sc-text">Co-Founder, Unscan</span>
                {{/content}}
            {{/embed}}
        </div>
    </div>
    <div class="content color-blocks">
        <div class="col-12">
            {{> color-block
              name="Gold"
              hex="F2BE55"
              class="light"}}
            {{> color-block
              name="Blue"
              hex="6998C3"
              class="dark"}}
        </div>
        <div class="col-6">
            {{> color-block
              name="Black"
              hex="222222"
              class="dark with-border"}}
        </div>
        <div class="col-6">
            {{> color-block
              name="White"
              hex="FFFFFF"
              class="light"}}
        </div>
    </div>
    <div class="content font-stacks">
      <div class="col-12">
        {{> font-stack
          name="Standard CT"
          weight="Regular"
          src="/img/unscan/text-unscan-standard.png" }}
        {{> font-stack
          name="Standard CT"
          weight="Bold"
          src="/img/unscan/text-unscan-standardbold.png" }}
        </div>
      </div>
    </div>
</li>
<li class="animated-section project-section section-unscan-imagery" data-section-id="unscan-imagery">
    <div class="content">
        <h2 class="h1 sc-text">Demonstrating the product through illustrations</h2>
        <div class="col-8 col-centered">
            <p class="large sc-text">The light, simple color palette, and clean font allows for users to focus on content. The gradient style throughout the site guides viewers to through the sectioned layout, moving from information all the way to the call the action. This design focuses on content flow that gives potential clients the full scope of Unscan’s product.</p>
        </div>
    </div>
    <div class="content">
        <div class="col-8 col-centered">
          <img class="project-screenshot" src="/img/unscan/unscan-illustrations-animation.gif" alt="Unscan Illustrations">
        </div>
        <div class="col-12">
            <img class="project-screenshot" src="/img/unscan/testimonial-photo.png" alt="Unscan Testimonial Photo">
            <img class="project-screenshot" src="/img/unscan/office-photo.png" alt="Unscan Office Photo">
        </div>
    </div>
</li>
<li class="animated-section project-section section-unscan-web" data-section-id="unscan-web">
    <div class="content">
        <h2 class="h1 sc-text">Designing for optimal content flow</h2>
        <div class="col-8 col-centered">
            <p class="large sc-text">In order to display the full features of Unscan’s product, we outlined product components in a “How it Works” section. This section enables easy user education through simple graphic illustrations and short descriptions of each component. The embedded product video demo also allows for product information at the ease of the customer.</p>
        </div>
    </div>
    <div class="content">
        <div class="col-12">
            <img class="project-screenshot" src="/img/unscan/unscan-monitor.png" alt="Fin">
        </div>
    </div>
    <div class="content">
        <div class="col-8 col-centered">
            {{#embed "external-link"
                href="https://unscan.com/"
                iconClass="link"}}
                {{#content "icon"}}{{> "icons/link.svg" }}{{/content}}
                {{#content "h2"}}unscan.com{{/content}}
            {{/embed}}
        </div>
    </div>
</li>
{{> "footer" class="solid" id="unscan-footer" }}
{{/content}}
{{/extend}}
