<svg width="353" height="46" viewBox="0 0 353 46" xmlns="http://www.w3.org/2000/svg"><title>text-upchannel-proximaregular</title><text transform="translate(-178 -180)" fill="#666" fill-rule="evenodd" font-size="48" font-family="SourceSansPro-Regular, Source Sans Pro"><tspan x="176" y="215">Quick and Legible</tspan></text></svg>
