<a href="{{url}}" class="arrow-link">
    <span class="arrow-component arrow-tail"></span>
    <span class="arrow-label">{{label}}</span>
    <span class="arrow-component arrow-shaft"></span>
    <span class="arrow-head">
        <span class="arrow-component arrow-head-top"></span>
        <span class="arrow-component arrow-head-end"></span>
        <span class="arrow-component arrow-head-bottom"></span>
    </span>
</a>
