<a href="{{url}}" class="arrow-link">
    <span class="sbg-accent arrow-tail"></span>
    <span class="arrow-label sc-text">{{label}}</span>
    <span class="sbg-accent arrow-shaft"></span>
    <span class="arrow-head">
        <span class="sbg-accent arrow-head-top"></span>
        <span class="sbg-accent arrow-head-end"></span>
        <span class="sbg-accent arrow-head-bottom"></span>
    </span>
</a>
