<div class="modal-content">
  <a href="#close" class="close-button close-contact-modal-link"><img src="/img/icon-x.svg"></a>
  <h2 class="h1">Let's work together.</h2>
  <p class="h1"><a href="mailto:team@minimill.co">team@minimill.co</a></p>
  <ul class="social-links">
    <li>
      <a target="_blank" href="https://dribbble.com/minimill"><span class="icon">{{> "icons/dribbble.svg" }}</span></a>
    </li>
    <li>
      <a target="_blank" href="https://github.com/minimill"><span class="icon">{{> "icons/github.svg" }}</span></a>
    </li>
    <li>
      <a target="_blank" href="https://twitter.com/minimill_co"><span class="icon">{{> "icons/twitter.svg" }}</span></a>
    </li>
    <li>
      <a target="_blank" href="https://www.facebook.com/minimillco"><span class="icon">{{> "icons/facebook.svg" }}</span></a>
    </li>
  </ul>
</div>
