{{#if href}}
<a href="{{ href }}">
{{/if}}
    <div class="external-link sbd-accent {{#if href}}sc-h-children-accent {{/if}} {{ iconClass }}">
        <div class="icon-line-break">
          <div class="link-left-line sbg-accent"></div>
          <div class="icon sf-svg-accent">
              {{#block "icon"}}{{/block}}
          </div>
          <div class="link-right-line sbg-accent"></div>
        </div>
        <div class="text">
            {{#if (content "h2") }}
            <h2 class="sc-text">{{#block "h2"}}{{/block}}</h2>
            {{/if}}
            {{#if (content "h3") }}
            <h3 class="sc-text">{{#block "h3"}}{{/block}}</h3>
            {{/if}}
            {{#if (content "p") }}
            <p class="sc-text">{{#block "p"}}{{/block}}</p>
            {{/if}}

            {{#if (content "cite") }}
            <cite>
                {{#block "cite"}}{{/block}}
            </cite>
            {{/if}}
        </div>
    </div>
{{#if href}}
</a>
{{/if}}
