<div class="project-font-stack {{class}}">
  <div class="font-description">
    <p class="sc-text">{{ name }}</p>
    <p class="sc-text">{{ weight }}</p>
  </div>
  <div class="font-img-wrapper sf-svg-text">
    {{#block "svg"}}{{/block}}
    <div class="underline sbg-text">
    </div>
    <div class="underline-fill sbg-text"></div>
  </div>
</div>
