<footer class="animated-section" data-section-id="work-identities">
    <div class="content">
        <div class="col-3">
            <a href="/">
                {{> "minimill-logo.svg" }}
            </a>
        </div>
        <div class="col-3">
            <p>
                387 Technology Dr #1100 <br>
                College Park, MD 20740
            </p>
        </div>
        <div class="col-2">
            <p>
                <a href="https://dribbble.com/minimill">Dribble</a>
            </p>
            <p>
                <a href="https://github.com/minimill">GitHub</a>
            </p>
        </div>
        <div class="col-2">
            <p>
                <a href="https://twitter.com/minimill_co">Twitter</a>
            </p>
            <p>
                <a href="https://www.facebook.com/minimillco">Facebook</a>
            </p>
        </div>
        <div class="col-2">
            <a href="mailto:team@minimill.co" class="email-button">team@minimill.co</a>
        </div>
    </div>
</footer>
