<li class="animated-section" data-section-id="footer">
    <footer>
        <div class="content">
            <div class="col-12">
                <div class="cta">
                    <hr>
                    <h2 class="h1">Let's work together.</h2>
                    <p class="h1"><a href="mailto:team@minimill.co">team@minimill.co</a></p>
                </div>
            </div>
            <div class="col-3">
                <a href="/" class="minimill-logo">
                    {{> "minimill-logo.svg" }}
                </a>
            </div>
            <div class="col-2 col-right">
                <p class="copyright">&copy; Minimill LLC <br> The year is 2016.</p>
            </div>
            <div class="col-4 col-right socials">
                <p class="social">
                    <a class="dribbble-link" target="_blank" href="https://dribbble.com/minimill"><span class="icon">{{> "icons/dribbble.svg" }}</span> <span class="icon-label">Dribbble</span></a>
                </p>
                <p class="social">
                    <a class="github-link" target="_blank" href="https://github.com/minimill"><span class="icon">{{> "icons/github.svg" }}</span> <span class="icon-label">GitHub</span></a>
                </p>
                <p class="social">
                    <a class="twitter-link" target="_blank" href="https://twitter.com/minimill_co"><span class="icon">{{> "icons/twitter.svg" }}</span> <span class="icon-label">Twitter</span></a>
                </p>
                <p class="social">
                    <a class="facebook-link" target="_blank" href="https://www.facebook.com/minimillco"><span class="icon">{{> "icons/facebook.svg" }}</span> <span class="icon-label">Facebook</span></a>
                </p>
            </div>
            <div class="col-3 col-right">
                <p class="address">
                    387 Technology Dr #1100 <br>
                    College Park, MD 20740
                </p>
            </div>
        </div>
    </footer>
</li>
