<nav>
    <div class="content">
        <div class="col-12">
            <div class="minimill-logo">
                <a href="/">
                    {{> "minimill-logo.svg" }}
                </a>
            </div>
            <ul class="links">
                <li>
                    <a href="/">Work</a>
                </li>
                <li>
                    <a href="/team/">Team</a>
                </li>
                <li>
                    <a href="#contact" id="open-contact-modal-link">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
