<nav>
    <div class="content">
        <div class="col-12">
            <div class="minimill-logo">
                <a href="/" class="close-contact-modal-link">
                    {{> "minimill-logo.svg" }}
                </a>
            </div>
            <ul class="links">
                <li>
                    {{#if "on-home-page"}}
                    <a class="scroll-to close-contact-modal-link" href="#world-after-capital">Work</a>
                    {{else}}
                    <a href="/" class="close-contact-modal-link">Work</a>
                    {{/if}}
                </li>
                <li>
                    <a href="/team/" class="close-contact-modal-link">Team</a>
                </li>
                <li>
                    <a href="#contact" class="open-contact-modal-link">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
