<nav>
    <div class="content">
        <div class="col-12">
            <div class="minimill-logo">
                <a href="/" class="close-contact-modal-link">
                    {{> "minimill-logo.svg" }}
                </a>
            </div>
            <ul class="links">
                <li>
                    <a href="/"
                       {{#if this.inModal }}
                       class="close-contact-modal-link"
                       {{ else }}
                       class="work-link"
                       {{/if}}>Work</a>
                </li>
                <li>
                    <a href="/team/"
                       {{#if this.inModal }}
                       class="close-contact-modal-link"
                       {{/if}}>Team</a>
                </li>
                <li>
                    <a href="#contact"
                       {{#if this.inModal }}
                       class="close-contact-modal-link"
                       {{ else }}
                       class="open-contact-modal-link"
                       {{/if}}>Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
