{{#extend "base"}}

{{#content "body" mode="append"}}
{{#block "main"}}
{{> "navbar" }}
<div class="contact">
  {{> "navbar" }}
  {{> "contact-modal" }}
</div>
{{/block}}
{{#block "js"}}
<script src="/js/lib/mobile-detect.min.js"></script>
<script src="/js/lib/pageanimation.min.js"></script>
<script src="/js/contact-modal.js"></script>
{{/block}}
{{/content}}

{{/extend}}
