{{#extend "page"}}

{{#content "main" mode="append"}}
<ul class="backgrounds">
    <li class="background-work-hero" id="background-work-hero"></li>
    {{#block "backgrounds"}}{{/block }}
    <li class="background-footer"></li>
</ul>
<ul class="sections" id="sections">
    {{#block "sections"}}{{/block}}
</ul>
{{/content}}

{{#content "js" mode="append"}}
<script inline src="/js/sections.js"></script>
{{/content}}

{{/extend}}
