<svg width="32" height="20" viewBox="0 0 32 20" xmlns="http://www.w3.org/2000/svg"><title>icon-quote</title><path d="M28 16v-4h-8V0h12v16h-4v4h-4v-4h4zM8 16v-4H0V0h12v16H8v4H4v-4h4z" fill="#FFF" fill-rule="evenodd"/></svg>
