/*************************************************
 * base.scss - Dan Schlosser <dan@schlosser.io>  *
 *                                               *
 * This file should either contain or import all *
 * of the styles that should exist on every page *
 * of the app.                                   *
 *************************************************/

/************************
 * Typography Variables *
 ************************/

@font-face {
  font-family: 'Calibre';
  src: url('../../font/CalibreWeb-Regular.eot'); /* IE9 Compat Modes */
  src: url('../../font/CalibreWeb-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../font/CalibreWeb-Regular.woff') format('woff'), /* Pretty Modern Browsers */
}

// Font weights
$extra-bold: 800;
$bold: 700;
$regular: 400;
$thin: 300;

// Fonts
$sans: 'Calibre', Helvetica, Ariel, sans-serif;

/**********
 * Basics *
 **********/

html, body {
    font-family: $sans;
    font-weight: $regular;
    height: 100%;
    font-size: 16px;
    position: relative;
    line-height: 1.5;
    color: $white;
}

p, .p {
    margin-bottom: 1rem;
    font-family: $sans;
    font-weight: $regular;
    font-size: 1rem;
    line-height: 1.4rem;
}

a {
    color: inherit;
    text-decoration: none;
    &:hover {
        color: inherit;
        text-decoration: underline;
    }
}

ul, ol {
    padding: 0;
    li {
        @extend .p;
    }
}

img {
    max-width: 100%;
}


/***********
 * Headers *
 ***********/

h1, .h1 {
    font-family: $sans;
    font-size: 3rem;
    line-height: 5.5rem;
}


/*********
 * Forms *
 *********/

form {
    margin-bottom: 1rem;
    display: block;
}

.form-control {
    display: block;
    margin: 0 0 1rem;
    input, textarea {
        display: block;
        width: 100%;
    }
}

input:not([type="submit"]), textarea, {
    display: block;
    background-color: $transparent;
    padding: 1rem 0;
    border: none;
    outline: none;
    border-bottom: 2px solid $white;
    color: $white;
    @extend .h1;
    @include border-box;
    @include placeholder {
        @extend .h1;
        color: $white;
    }
}

textarea {
    resize: vertical;
}

input[type="submit"], button, .button {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: none;
    border: 1px solid $blue;
    background-color: $blue;
    @include border-box;
    vertical-align: top;
    color:white;
    line-height: 1.2rem;
    margin: 0;

    &:hover {
        cursor: pointer;
        color: $light-gray;
    }
}

/**********
 * Tables *
 **********/

table {
    margin-bottom: 1rem;
    td, th {
        @extend .p;
        padding: 0.5rem 1rem;
    }
    thead th, tfoot td {
        color: $white;
        background-color: $blue;
    }
    tbody {
        tr {
            &:nth-child(odd) {
                background-color: $ultra-light-gray;
            }
            &:nth-child(even) {
                background-color: $white;
            }
        }
    }
}

/**********************
 * Responsive Scaling *
 **********************/

@media screen and (max-width: $xl-desktop-max) {
    html, body {
        font-size: 18px;
    }
}

@media screen and (max-width: $desktop-max) {
    html, body {
        font-size: 16px;
    }
}

@media screen and (max-width: $tablet-landscape-max) {
    html, body {
        font-size: 14px;
    }
}

@media screen and (max-width: $tablet-portrait-max) {
    html, body {
        font-size: 12px;
    }
}

@media screen and (max-width: $phone-max) {
    html, body {
        font-size: 10px;
    }
}