/*************************************************
 * base.scss - Dan Schlosser <dan@schlosser.io>  *
 *                                               *
 * This file should either contain or import all *
 * of the styles that should exist on every page *
 * of the app.                                   *
 *************************************************/

/************************
 * Typography Variables *
 ************************/

@font-face {
  font-family: 'Calibre';
  src: url('../../font/CalibreWeb-Regular.eot'); /* IE9 Compat Modes */
  src: url('../../font/CalibreWeb-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../font/CalibreWeb-Regular.woff') format('woff'), /* Pretty Modern Browsers */
}

// Font weights
$extra-bold: 800;
$bold: 700;
$regular: 400;
$thin: 300;

// Fonts
$sans: 'Calibre', Helvetica, Arial, sans-serif;

/**********
 * Basics *
 **********/

html, body {
    font-family: $sans;
    font-weight: $regular;
    height: 100%;
    font-size: 16px;
    position: relative;
    line-height: 1.5;
    color: $white;
}

a {
    color: inherit;
    text-decoration: none;
    &:hover {
        color: inherit;
        text-decoration: underline;
    }
}

ul, ol {
    padding: 0;
    li {
        @extend .p;
    }
}

img {
    max-width: 100%;
}
