/**************************************************
 * colors.scss - Dan Schlosser <dan@schlosser.io> *                                               *
 *                                                *
 * The colors used in the app.                    *
 **************************************************/


$blue: #3399ff;
$red: #ff3333;
$green: #2ee6a8;

$gray: #999999;
$light-gray: #B3B3B3;
$ultra-light-gray: #f2f2f2;

$white: #ffffff;
$transparent: rgba(0,0,0,0);
