// Application Styles go here
$content-width: 58.75rem;

body {
  background-color: $blue;
}

.content {
  width: 90%;
  max-width: $content-width;
  margin: 0 auto;
    @include clearfix;
}

section {
  padding: 5rem 0 2rem;
}

.headline {
    margin-bottom: 3rem;
    text-transform: lowercase;
}

$footer-height: 44px;

footer {

    height: 2.25rem;
    padding: 5rem 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $ultra-light-gray;
    display: inline-block;
    @include clearfix;

    p {
        float: left;
        color: $light-gray;
        display: inline-block;
        vertical-align: middle;
        line-height: $footer-height;
    }

    ul {
        float: right;
        display: inline-block;
        color: $gray;
        li {
            padding: 0 1.25rem;
            display: inline-block;
            vertical-align: middle;
            line-height: $footer-height;
        }
    }
}

.logo {
    float: left;
    display: inline-block;
    & > svg {
        display: block;
        height: 44px;
    }
    margin-right: 4.5rem;

    &.red > svg g {
        rect, polygon {
            fill: $red !important;
        }
    }
}