body {
  text-transform: lowercase;
}

p, .p {
    margin-bottom: 1.5rem;
    font-family: $sans;
    font-weight: $regular;
    font-size: 1.375rem;
}

h1, .h1 {
    font-family: $sans;
    font-size: 3rem;
    line-height: 1.25;
}
