body {
  text-transform: lowercase;
}

p, .p {
    margin-bottom: 1.5rem;
    font-family: $sans;
    font-weight: $regular;
    font-size: 1.375rem;
}

$h1-font-size: 2rem;
$h1-line-height: 1.25;
h1, .h1 {
    font-family: $sans;
    font-size: $h1-font-size;
    line-height: $h1-line-height;
}
