{{#extend "project" }}
{{#content "title" mode="append"}} - Fin{{/content}}
{{#content "body-class" mode="append"}} page-fin{{/content}}
{{#content "backgrounds" mode="append"}}
<li class="background-fin-hero"></li>
<li class="background-fin-goal"></li>
<li class="background-fin-related"></li>
{{/content}}
{{#content "sections" mode="prepend"}}
<li class="animated-section project-hero section-fin-hero" data-section-id="fin-hero">
    <div class="content">
        <h1 class="project-title sc-text">Fin</h1>
        <div class="project-img-wrapper">
            <img src="/img/fin-macbook.png" alt="Fin">
            <ul class="services">
                <li class="sc-text">UI/UX Design</li>
                <li class="sc-text">Web Development</li>
            </ul>
        </div>
        <p class="project-summary sc-text">We teamed up with Andrew Staub, Andrew Kortina, and Sam Lessin to develop an informative web presence for their new forward-thinking mobile application, Fin.</p>
        <blockquote class="sbd-accent sc-text">
            <div class="quote-upper-line sbg-accent"></div>
            <div class="quote-mark sf-svg-accent">{{> "icons/quote.svg"}}</div>
            <div class="quote-lower-line sbg-accent"></div>

            Minimill killed it. We gave our entire web product to them with a crazy schedule and still launched on time.
            <cite>
                <span class="name sc-text">Sam Lessin</span>
                <span class="title sc-text">Founder, Fin</span>
                <span class="subtitle sc-text">Former VP of Product, Facebook</span>
                <span class="photo"><img src="/img/avatar-sam.png" alt="Sam Lessin"></span>
            </cite>
        </blockquote>
    </div>
</li>
<li class="animated-section project-section section-fin-goal" data-section-id="fin-goal">
    <div class="content">
          <h2 class="h1 sc-text">A web presence for a mobile product</h2>
        <div class="col-8 col-centered">
            <p class="large sc-text">Well, yes, but that's not the point. Guess I'm not all smart like you. And maybe it'll be a different story, like when I'm ready to get married, but right now, I am telling you, the musical numbers are a bunch of amateurs! Gene, that is not what you said. And maybe it'll be a different story. You're not so bad yourself.</p>
        </div>
    </div>
    <div class="content">
        <div class="col-12">
            <img class="project-screenshot" src="/img/fin-macbook.png" alt="Fin">
        </div>
    </div>
    <div class="content">
        <div class="col-12">
            {{> color-block
              name="Navy Blue"
              hex="1D2933"
              class="dark with-border"}}
            {{> color-block
              name="Medium Blue"
              hex="417ABA"
              class="dark"}}
            {{> color-block
              name="Light Blue"
              hex="ABD9FF"
              class="light"}}
        </div>
    </div>
</li>
<li class="animated-section project-section section-fin-related" data-section-id="fin-related">
    <div class="content">
        <h2 class="h1 sc-text">A web presence for a mobile product</h2>
        <div class="col-8 col-centered">
            <a href="https://github.com/minimill/staple.js/">
                <div class="related sbg-h-accent sbd-accent">
                    <div class="icon">
                        {{> "icons/github.svg" }}
                    </div>
                    <div class="text">
                        <h3 class="sc-accent">staple.js</h3>
                        <p class="sc-text">Easily staple an element to be fixed at a certain height from the top of the viewport.</p>
                    </div>
                </div>
            </a>
            <p class="large sc-text">Well, yes, but that's not the point. Guess I'm not all smart like you. And maybe it'll be a different story, like when I'm ready to get married, but right now, I am telling you, the musical numbers are a bunch of amateurs! Gene, that is not what you said. And maybe it'll be a different story. You're not so bad yourself.</p>
        </div>
    </div>
    <div class="content">
        <div class="col-12">
            <img class="project-screenshot" src="/img/fin-macbook.png" alt="Fin">
        </div>
    </div>
    <div class="content">
        <div class="col-8 col-centered">
            <a href="https://github.com/minimill/staple.js/">
                <div class="related sbg-h-accent sbd-accent">
                    <div class="icon">
                        {{> "icons/github.svg" }}
                    </div>
                    <div class="text">
                        <h3 class="sc-accent">staple.js</h3>
                        <p class="sc-text">Easily staple an element to be fixed at a certain height from the top of the viewport.</p>
                    </div>
                </div>
            </a>
            <p class="large sc-text">This is an open-source project on GitHub. Well, yes, but that's not the point. Guess I'm not all smart like you. And maybe it'll be a different story, like when I'm ready to get married, but right now, I am telling you.</p>
            <a href="https://github.com/minimill/staple.js/">
                <div class="related sbg-h-accent sbd-accent">
                    <div class="icon">
                        {{> "icons/github.svg" }}
                    </div>
                    <div class="text">
                        <h3 class="sc-accent">staple.js</h3>
                        <p class="sc-text">Easily staple an element to be fixed at a certain height from the top of the viewport.</p>
                    </div>
                </div>
                            </a>
            <p class="large sc-text">This is an open-source project on GitHub. Well, yes, but that's not the point. Guess I'm not all smart like you. And maybe it'll be a different story, like when I'm ready to get married, but right now, I am telling you.</p>
        </div>
    </div>
</li>
{{> "footer" class="solid" id="fin-footer" }}
{{/content}}
{{/extend}}
