{{#extend "project" }}
{{#content "title" mode="append"}} - Fin{{/content}}
{{#content "body-class" mode="append"}} page-fin{{/content}}
{{#content "backgrounds" mode="append"}}
<li class="background-fin-hero"></li>
<li class="background-fin-goal"></li>
<li class="background-fin-related"></li>
{{/content}}
{{#content "sections" mode="prepend"}}
<li class="animated-section project-hero section-fin-hero" data-section-id="fin-hero">
    <div class="content">
        <h1 class="project-title sc-text">Fin</h1>
        <div class="project-img-wrapper">
            <img src="/img/fin/fin-macbook.png" alt="Fin">
            <ul class="services">
                <li class="sc-text">UI/UX Design</li>
                <li class="sc-text">Web Development</li>
            </ul>
        </div>
        <p class="project-summary sc-text">We teamed up with the Fin team to develop the product dashboard and marketing site for their new mobile application. Our site serves as a portal for Fin’s public launch and ongoing growth.</p>
        <div class="blockquote-wrapper">
          <blockquote class="sbd-accent sc-text">
              <div class="quote-upper-line sbg-accent"></div>
              <div class="quote-mark sf-svg-accent">{{> "icons/quote.svg"}}</div>
              <div class="quote-lower-line sbg-accent"></div>

              Minimill designed and developed a polished new website for us. As we started expanding our beta we were hoping to kick it up a notch and we definitely accomplished that.
              <cite>
                  <span class="name sc-text">Andrew Staub</span>
                  <span class="title sc-text">Product, Fin</span>
                  <span class="photo"><img src="/img/fin/head-staub.png" alt="Andrew Staub"></span>
              </cite>
          </blockquote>
        </div>
    </div>
</li>
<li class="animated-section project-section section-fin-goal" data-section-id="fin-goal">
    <div class="content">
          <h2 class="h1 sc-text">Marrying product and ambience</h2>
        <div class="col-8 col-centered">
            <p class="large sc-text">We worked closely with the illustrious Andrew Staub, Sam Lessin, and Andrew Kortina to design and develop a product that reflects the minimalism of the Fin brand. Our site immediately puts users inside the app experience and funnels them towards waitlist signups. The dark theme creates a futuristic aesthetic, encouraging visitors to explore the capabilities of the product.</p>
        </div>
    </div>
    <div class="content">
        <div class="col-12">
            <video class="project-screenshot with-shadow" src="/img/fin/fin-animation.mp4" alt="Fin Animation" loop muted autoplay></video>
        </div>
    </div>
    <div class="content">
        <div class="col-8 col-centered">
            {{#embed "external-link"
                href="https://github.com/minimill/staple.js/"
                iconClass="github"}}
                {{#content "icon"}}{{> "icons/github.svg" }}{{/content}}
                {{#content "h2"}}staple.js{{/content}}
                {{#content "p"}}To ensure smooth scrolling on the homepage, we wrote a performance-first JavaScript library for fixing content to the top of the screen.{{/content}}
            {{/embed}}
        </div>
    </div>
    <div class="content color-blocks">
        <div class="col-12">
            {{> color-block
              name="Navy Blue"
              hex="1D2933"
              class="dark with-border"}}
            {{> color-block
              name="Medium Blue"
              hex="417ABA"
              class="dark"}}
            {{> color-block
              name="Light Blue"
              hex="ABD9FF"
              class="light"}}
        </div>
    </div>
</li>
<li class="animated-section project-section section-fin-related" data-section-id="fin-related">
    <div class="content">
        <h2 class="h1 sc-text">User education through simulations</h2>
        <div class="col-8 col-centered">
            <p class="large sc-text">As a new mobile service, much of the website build was focused on teaching potential users about the app’s functions with a “show don’t tell” mindset. We adapted the mobile interface into a version for web and helped familiarize visitors to Fin by applying this treatment to example conversations.</p>
        </div>
    </div>
    <div class="content">
        <div class="col-12">
            <img class="project-screenshot" src="/img/fin/phone-example.png" alt="An example conversation with Fin">
        </div>
    </div>
</li>
{{> "footer" class="solid" id="fin-footer" }}
{{/content}}
{{/extend}}
