{{#extend "case-study" }}
{{#content "body-class"}}page-fin{{/content}}
{{#content "backgrounds" mode="append"}}
<li class="background-fin-hero"></li>
{{/content}}
{{#content "sections" mode="prepend"}}
<li class="animated-section project-preview section-fin-hero" data-section-id="fin-hero">
    <div class="content">
        <div class="col-8">
            <img src="/img/fin-macbook.png" alt="Fin">
        </div>
        <div class="col-4">
            <h2 class="h1">Fin</h2>
            <p>We teamed up with Andrew Staub, Andrew Kortina, and Sam Lessin to develop an informative web presence for their new forward-thinking mobile application, Fin.</p>
        </div>
    </div>

</li>
{{/content}}
{{/extend}}
