{{#extend "project" }}
{{#content "title" mode="append"}} - Fin{{/content}}
{{#content "body-class" mode="append"}} page-fin{{/content}}
{{#content "backgrounds" mode="append"}}
<li class="background-fin-hero"></li>
<li class="background-fin-goal"></li>
<li class="background-fin-related"></li>
{{/content}}
{{#content "sections" mode="prepend"}}
<li class="animated-section project-hero section-fin-hero" data-section-id="fin-hero">
    <div class="content">
        <h1 class="project-title sc-text">Fin</h1>
        <div class="project-img-wrapper">
            <img src="/img/fin/fin-macbook.png" alt="Fin">
            <ul class="services">
                <li class="sc-text">UI/UX Design</li>
                <li class="sc-text">Web Development</li>
            </ul>
        </div>
        <p class="project-summary sc-text">We teamed up with Andrew Staub, Andrew Kortina, and Sam Lessin to develop an informative web presence for their new forward-thinking mobile application, Fin.</p>
        <div class="blockquote-wrapper">
          <blockquote class="sbd-accent sc-text">
              <div class="quote-upper-line sbg-accent"></div>
              <div class="quote-mark sf-svg-accent">{{> "icons/quote.svg"}}</div>
              <div class="quote-lower-line sbg-accent"></div>

              With the Fin site, we brought in-app experience to the forefront, focusing on conversation examples rather than marketing text.
              <cite>
                  <span class="name sc-text">Dan Schlosser</span>
                  <span class="title sc-text">Developer, Minimill</span>
                  <span class="photo"><img src="/img/fin/head-dan.png" alt="Dan Schlosser"></span>
              </cite>
              {{!-- Minimill killed it. We gave our entire web product to them with a crazy schedule and still launched on time.
              <cite>
                  <span class="name sc-text">Sam Lessin</span>
                  <span class="title sc-text">Founder, Fin</span>
                  <span class="subtitle sc-text">Former VP of Product, Facebook</span>
                  <span class="photo"><img src="/img/fin/head-sam.png" alt="Sam Lessin"></span>
              </cite> --}}
          </blockquote>
        </div>
    </div>
</li>
<li class="animated-section project-section section-fin-goal" data-section-id="fin-goal">
    <div class="content">
          <h2 class="h1 sc-text">The elegance of a simple design</h2>
        <div class="col-8 col-centered">
            <p class="large sc-text">We designed and developed Fin’s website to reflect an essence of simplicity desired by the clients. Dark, contrasting colortones create a mysterious ambience, encouraging viewers to learn more about the capabilities of the product. The sleek font emphasizes the modern minimalism marked by the mobile service.</p>
        </div>
    </div>
    <div class="content">
        <div class="col-12">
            <video class="project-screenshot with-shadow" src="/img/fin/fin-animation.mp4" alt="Fin Animation" loop muted autoplay></video>
        </div>
    </div>
    <div class="content">
        <div class="col-8 col-centered">
            {{#embed "external-link"
                href="https://github.com/minimill/staple.js/"
                iconClass="github"}}
                {{#content "icon"}}{{> "icons/github.svg" }}{{/content}}
                {{#content "h2"}}staple.js{{/content}}
                {{#content "p"}}To ensure smooth scrolling on the homepage, we wrote staple.js: a performance-first JavaScript library for fixing content to the top of the screen on scroll.{{/content}}
            {{/embed}}
        </div>
    </div>
    <div class="content color-blocks">
        <div class="col-12">
            {{> color-block
              name="Navy Blue"
              hex="1D2933"
              class="dark with-border"}}
            {{> color-block
              name="Medium Blue"
              hex="417ABA"
              class="dark"}}
            {{> color-block
              name="Light Blue"
              hex="ABD9FF"
              class="light"}}
        </div>
    </div>
</li>
<li class="animated-section project-section section-fin-related" data-section-id="fin-related">
    <div class="content">
        <h2 class="h1 sc-text">User education through simulations</h2>
        <div class="col-8 col-centered">
            <p class="large sc-text">As a new mobile service, much of the website build was focused on user education. Through featured app examples on the home page, viewers are able to understand the versatility and usability of the product. Additionally, we created a page to host periodically publish letters by the founders about their motivation and thoughts behind the creation of Fin.</p>
        </div>
    </div>
    <div class="content">
        <div class="col-12">
            <img class="project-screenshot" src="/img/fin/phone-example.png" alt="An example conversation with Fin">
        </div>
    </div>
    <div class="content">
        <div class="col-8 col-centered">
            {{#embed "external-link"
                href="https://www.fin.com/"
                iconClass="link"}}
                {{#content "icon"}}{{> "icons/link.svg" }}{{/content}}
                {{#content "h2"}}fin.com{{/content}}
            {{/embed}}
        </div>
    </div>
</li>
{{> "footer" class="solid" id="fin-footer" }}
{{/content}}
{{/extend}}
