<!DOCTYPE html>
<html>
<head>
    {%- block meta -%}
    <meta charset="utf-8" />
    <title>{%- block title-%}{{ config.META_TITLE }}{%- endblock -%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ config.META_DESCRIPTION }}" />
    <meta name="robots" content="NOODP, index, follow" />
    <meta itemprop="name" content="{{ config.META_TITLE }}">
    <meta itemprop="description" content="{{ config.META_DESCRIPTION }}">
    <meta itemprop="image" content="{{ url_for('static', filename=config.META_IMAGE) }}">
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ config.META_TWITTER_HANDLE }}">
    <meta name="twitter:title" content="{{ config.META_TITLE }}">
    <meta name="twitter:description" content="{{ config.META_DESCRIPTION }}">
    <meta name="twitter:creator" content="{{ config.META_TWITTER_HANDLE }}">
    <meta name="twitter:image:src" content="{{ url_for('static', filename=config.META_IMAGE) }}">
    <meta name="twitter:domain" content="{{ config.META_DOMAIN }}">
    <!-- Open Graph data (Facebook) -->
    <meta property="og:title" content="{{ config.META_TITLE }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ config.META_URL + request.path }}" />
    <meta property="og:image" content="{{ url_for('static', filename=config.META_IMAGE) }}" />
    <meta property="og:description" content="{{ config.META_DESCRIPTION }}" />
    <!-- Apple Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ static('img/favicon/favicon-57x57.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ static('img/favicon/favicon-114x114.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ static('img/favicon/favicon-72x72.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ static('img/favicon/favicon-144x144.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ static('img/favicon/favicon-60x60.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ static('img/favicon/favicon-120x120.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ static('img/favicon/favicon-76x76.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ static('img/favicon/favicon-152x152.png') }}" />
    <!-- Standard Icons -->
    <link rel="icon" type="image/png" href="{{ static('img/favicon/favicon-196x196.png') }}" sizes="196x196" />
    <link rel="icon" type="image/png" href="{{ static('img/favicon/favicon-96x96.png') }}" sizes="96x96" />
    <link rel="icon" type="image/png" href="{{ static('img/favicon/favicon-32x32.png') }}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ static('img/favicon/favicon-16x16.png') }}" sizes="16x16" />
    <link rel="icon" type="image/png" href="{{ static('img/favicon/favicon-128.png') }}" sizes="128x128" />
    <!-- Microsoft Metadata -->
    <meta name="application-name" content="{{ config.META_TITLE }}"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{{ static('img/favicon/favicon-144x144.png') }}" />
    <meta name="msapplication-square70x70logo" content="{{ static('img/favicon/favicon-70x70.png') }}" />
    <meta name="msapplication-square150x150logo" content="{{ static('img/favicon/favicon-150x150.png') }}" />
    <meta name="msapplication-wide310x150logo" content="{{ static('img/favicon/favicon-310x150.png') }}" />
    <meta name="msapplication-square310x310logo" content="{{ static('img/favicon/favicon-310x310.png') }}" />
    {%- endblock meta-%}
    {%- block css-%}
    <link rel="stylesheet" type="text/css" href="{{ static('css/lib/reset.min.css') }}">
    {%- endblock css-%}
    {%- block analytics -%}
    <!-- Google Analytics go here -->
    {%- endblock -%}
</head>
<body>
    {%- block body -%}{%- endblock -%}
    {%- block js -%}
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    {%- endblock -%}
</body>
</html>
