{%- extends "template.html" -%}
{% import "macros.html" as macros %}
{%- block title -%}{{ super() }}{%- endblock -%}

{%- block js -%}
{{ super() }}
<script type="text/javascript" src="{{ static('js/lib/textarea-autogrow.min.js') }}"></script>
<script type="text/javascript" src="{{ static('js/index.js') }}"></script>
{%- endblock -%}

{%- block content -%}
<h1 class="headline">We are Minimill, a new design agency.<br>Let's work together.</h1>
<form id="contact-form" action="{{ url_for('client.contact') }}" method="POST" autocomplete="off">
    {{macros.render_field(form.name, class="field", required="true", spellcheck="false", autocomplete="off")}}
    {{macros.render_field(form.email, class="field", required="true", spellcheck="false", autocomplete="off")}}
    {{macros.render_field(form.message, class="field", required="true", spellcheck="false", autocomplete="off")}}
    <div class="hidden-fields">
        {{macros.render_field(form.csrf_token)}}
        <input type="submit" id="submit" value="submit" />
    </div>
</form>
<div id="submit-button" class="submit-button">
    <div class="content">
        <span class="submit-button-label">Send</span>
        <span id="error-message">Yikes, something went awry.</span>
    </div>
</div>
<div id="success-sheet">
    <div class="content">
        <p class="to"><span id="to-name">Gerald</span>,</p>
        <p>Thanks for reaching out.</p>
        <p>We’ll get back to you really soon.</p>
        <p class="from">- Jeff and Dan</p>
    </div>
</div>
{%- endblock -%}