{%- extends "template.html" -%}
{% import "macros.html" as macros %}
{%- block title -%}Home | {{ super() }}{%- endblock -%}

{%- block content -%}
<h1>hey there. we are minimill.</h1>
<form action="{{ url_for('client.contact') }}">
    {{macros.render_field(form.name, class="field")}}
    {{macros.render_field(form.email, class="field")}}
    {{macros.render_field(form.message, class="field")}}
    <div class="hidden">
        {{macros.render_field(form.csrf_token)}}
        <input type="submit" id="submit" />
    </div>
</form>
<div id="submit-button">
    <div class="content">
        send
    </div>
</div>
{%- endblock -%}