{% extends "base.html" %}

{%- block css -%}
{{ super() }}
{%- assets "scss_all" -%}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{%- endassets -%}
{%- endblock -%}

{% block body %}
<section id="main">
    <div class="content">
        {% block content %}
        {% endblock%}
    </div>
    <footer>
        <div class="content">
            <a href="/">
                <div class="logo">
                    {% include "minimill-logo.svg.html" %}
                </div>
            </a>
            <p>design and dev and brand and people</p>
        </div>
    </footer>
</section>
{% endblock %}